<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="DecoratedPNGMapProducer"
        singleton="false"
        class="org.geoserver.wms.responses.map.png.DecoratedPNGMapProducer">
        <constructor-arg index="0" ref="wms"/>
    </bean>

    <bean id="image" 
          class="org.geoserver.wms.responses.decoration.WatermarkDecoration"
          singleton="false"
    />

    <bean id="legend" 
          class="org.geoserver.wms.responses.decoration.LegendDecoration"
          singleton="false"
    >
        <property name="catalog" ref="catalog2"/>
    </bean>

    <bean id="scaleratio" 
          class="org.geoserver.wms.responses.decoration.ScaleRatioDecoration"
          singleton="false"
    />
    
    <bean id="scaleline" 
          class="org.geoserver.wms.responses.decoration.ScaleLineDecoration"
          singleton="false"
    />
</beans>
