<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Define spring remoting beans -->
	<bean name="/status"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service">
			<ref local="statusreporter" />
		</property>
		<property name="serviceInterface">
			<value>org.vfny.geoserver.control.IStatusReporter</value>
		</property>
	</bean>


	
	<!-- define the control beans -->
	<bean id="statusreporter" class="org.vfny.geoserver.control.internal.StatusReporterImpl">
	</bean>
	
	<bean id="wfsstatuschecker" class="org.vfny.geoserver.control.internal.WFSStatusChecker"/>
	<bean id="wmsstatuschecker" class="org.vfny.geoserver.control.internal.WMSStatusChecker"/>
	<bean id="datastatuschecker" class="org.vfny.geoserver.control.internal.DataStatusChecker"/>
	<bean id="prefstatuschecker" class="org.vfny.geoserver.control.internal.PreferenceStatusChecker"/>
	
</beans>