<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <!-- wcs service setup, with loggin as an interceptor -->
  <bean id="wcs111ServiceTarget" class="org.geoserver.wcs.DefaultWebCoverageService111">
    <constructor-arg ref="wcs" />
    <constructor-arg ref="catalog" />
  </bean>
  <bean id="wcsLogger" class="org.geoserver.ows.util.EMFLogger">
    <constructor-arg type="java.lang.String" value="org.geoserver.wcs" />
  </bean>
  <bean id="wcs111Service" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>org.geoserver.wcs.WebCoverageService111</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>wcsLogger</value>
        <value>wcs111ServiceTarget</value>
      </list>
    </property>
  </bean>

  <!-- service descriptors -->
  <bean id="wcsService-1.1.0" class="org.geoserver.platform.Service">
    <constructor-arg index="0" value="wcs" />
    <constructor-arg index="1" ref="wcs111Service" />
    <constructor-arg index="2" value="1.1.0" />
  </bean>

  <bean id="wcsService-1.1.1" class="org.geoserver.platform.Service">
    <constructor-arg index="0" value="wcs" />
    <constructor-arg index="1" ref="wcs111Service" />
    <constructor-arg index="2" value="1.1.1" />
  </bean>

  <!-- http url mapping -->
  <bean id="wcsURLMapping"
    class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="mappings">
      <props>
        <prop key="/wcs111">dispatcher</prop>
        <prop key="/wcs111/*">dispatcher</prop>
      </props>
    </property>
  </bean>
  
  <!-- kvp parsers -->
  <bean id="wcs111RangeSubsetKvpParser" class="org.geoserver.wcs.kvp.RangeSubsetKvpParser"/>
  
  <bean id="wcs111IdentifierKvpParser" class="org.geoserver.wcs.kvp.IdentifierKvpParser">
    <constructor-arg ref="catalog"/>
  </bean>
  
  <bean id="wcs111GridBaseCRS" class="org.geoserver.wcs.kvp.GridBaseCRSKvpParser"/>
  
  <bean id="wcs111TimeSequenceKvpParser" class="org.geoserver.wcs.kvp.TimeSequenceKvpParser"/>
  
  <bean id="wcs111GridTypeKvpParser" class="org.geoserver.wcs.kvp.GridTypeKvpParser"/>
  
  <bean id="wcs111GridCSKvpParser" class="org.geoserver.wcs.kvp.GridCSKvpParser"/>
  
  <bean id="wcs111GridOriginKvpParser" class="org.geoserver.wcs.kvp.GridOriginKvpParser"/>
  
  <bean id="wcs111GridOffsetsKvpParser" class="org.geoserver.wcs.kvp.GridOffsetsKvpParser"/>

  <!-- kvp request readers -->
  <bean id="wcs111GetCapabilitiesKvpReader"
    class="org.geoserver.wcs.kvp.WcsGetCapabilitiesRequestReader" />

  <bean id="wcs111DescribeCoverageKvpReader"
    class="org.geoserver.wcs.kvp.DescribeCoverageKvpRequestReader">
    <constructor-arg index="0" ref="catalog" />
  </bean>

  <bean id="wcs111GetCoverageRequestReader"
    class="org.geoserver.wcs.kvp.GetCoverageRequestReader">
    <constructor-arg index="0" ref="catalog" />
  </bean>
  
  <bean id="wcs111StoreKvpParser" class="org.geoserver.ows.kvp.BooleanKvpParser">
    <constructor-arg value="store"/>
  </bean>

  <!-- the xml configuration -->
  <bean id="wcs-1.1.1-configuration" class="org.geoserver.wcs.xml.v1_1_1.WCSConfiguration" />

  <!--  xml request readers -->
  <bean id="wcs111CapabilitiesRequestReader" class="org.geoserver.wcs.xml.v1_1_1.WcsXmlReader">
    <constructor-arg value="GetCapabilities" />
    <constructor-arg value="1.1.1" />
    <constructor-arg ref="wcs-1.1.1-configuration" />
  </bean>



  <!-- responses -->
  <bean id="wcs111GetCapabilitiesResponse"
    class="org.geoserver.wcs.response.GetCapabilitiesResponse" singleton="false" />

  <bean id="wcs111DescribeCoverageResponse"
    class="org.geoserver.wcs.response.DescribeCoverageResponse" singleton="false" />
</beans>