<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="wmsServicePage" class="org.geoserver.web.services.ServicePageInfo">
    <property name="id" value="wms"/>
    <property name="titleKey" value="wms.title"/>
    <property name="descriptionKey" value="wms.description"/>
    <property name="componentClass" value="org.geoserver.wms.web.WMSAdminPage"/>
    <!--property name="icon" value="wms_obj.gif"/-->
    <property name="icon" value="server_picture.png"/>
  </bean>
    
  <bean id="wmsLayerConfig" class="org.geoserver.web.publish.LayerConfigurationPanelInfo">
    <property name="id" value="wmsLayerConfig"/>
    <property name="titleKey" value="publish.layer.config.wms"/>
    <property name="componentClass" value="org.geoserver.wms.web.publish.WMSLayerConfig"/>
  </bean>

  <bean id="geosearchLayerConfig" class="org.geoserver.web.publish.LayerConfigurationPanelInfo">
    <property name="id" value="geosearchLayerConfig"/>
    <property name="titleKey" value="publish.layer.config.geosearch"/>
    <property name="componentClass" value="org.geoserver.wms.web.publish.GeoSearchLayerConfigPanel"/>
    <property name="supportedTypes">
      <list>
        <value>org.geoserver.catalog.FeatureTypeInfo</value>
      </list>
    </property>
  </bean>

  <bean id="kmlLayerConfig" class="org.geoserver.web.publish.LayerConfigurationPanelInfo">
    <property name="id" value="kmlLayerConfig"/>
    <property name="titleKey" value="publish.layer.config.kml"/>
    <property name="componentClass" value="org.geoserver.wms.web.publish.KMLLayerConfigPanel"/>
    <property name="supportedTypes">
      <list>
        <value>org.geoserver.catalog.FeatureTypeInfo</value>
      </list>
    </property>
  </bean>
</beans>
