<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="wfs" class="org.geoserver.wfs.WFS">
		<property name="citeConformanceHacks" value="true" />
	</bean>
	
	<!-- service descriptors -->
	<bean id="wfsService-1.0.0" class="org.geoserver.ows.Service">
		<constructor-arg index="0" value="wfs"/>
		<constructor-arg index="1" ref="wfs"/>
		<constructor-arg index="2" value="1.0.0"/>
	</bean>
	
	<bean id="wfsService-1.1.0" class="org.geoserver.ows.Service">
		<constructor-arg index="0" value="wfs"/>
		<constructor-arg index="1" ref="wfs"/>
		<constructor-arg index="2" value="1.1.0"/>
	</bean>
	
	<!-- persistance -->
	<!-- bean id="wfsPersister" class="org.geoserver.BeanPersister">
		<constructor-arg ref="resourceLoader"/>
		<property name="beans">
			<list>
				<value>wfs</value>				
			</list>
		</property>
	</bean-->
	
	<!-- schema catalog adapter -->
	<bean id="schemaAdapterFactory" class="org.geoserver.wfs.xml.SchemaAdapterFactory">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
	</bean>
	
	
	<!-- version 1.0.0 operations -->
	<bean id="getCapabilities-1.0.0" class="org.geoserver.wfs.GetCapabilities"
		singleton="false">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="describeFeatureType-1.0.0" class="org.geoserver.wfs.DescribeFeatureType"
		singleton="false">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="getFeature-1.0.0" class="org.geoserver.wfs.GetFeature" singleton="false">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
		<property name="filterFactory" ref="filterFactory"/>
	</bean>
	<bean id="lockFeature-1.0.0" class="org.geoserver.wfs.LockFeature" singleton="false">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
		<property name="filterFactory" ref="filterFactory"/>
	</bean>
	<bean id="transaction-1.0.0" class="org.geoserver.wfs.Transaction" 
		singleton="false">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="releaseLockOperation" class="org.geoserver.ows.Operation">
		<!-- this operaiton is only for testing, and should not be released -->
		<constructor-arg index="0" value="Release"/>
		<constructor-arg ref="wfsService-1.0.0"/>
		<constructor-arg ref="lockFeature-1.0.0"/>
	</bean>
	
	<!-- version 1.0.0 operation descriptors -->
	<bean id="getCapabilitiesOperation-1.0.0" 
		class="org.geoserver.ows.Operation" singleton="false">
		<constructor-arg index="0" value="GetCapabilities"/>
		<constructor-arg index="1" ref="wfsService-1.0.0"/>
		<constructor-arg index="2" ref="getCapabilities-1.0.0"/>
	</bean>
	<bean id="describeFeatureTypesOperation-1.0.0" 
		class="org.geoserver.ows.Operation" singleton="false">
		<constructor-arg index="0" value="DescribeFeatureType"/>
		<constructor-arg index="1" ref="wfsService-1.0.0"/>
		<constructor-arg index="2" ref="describeFeatureType-1.0.0"/>
	</bean>
	<bean id="getFeatureOperation-1.0.0" 
		class="org.geoserver.ows.Operation" singleton="false">
		<constructor-arg index="0" value="GetFeature"/>
		<constructor-arg index="1" ref="wfsService-1.0.0"/>
		<constructor-arg index="2" ref="getFeature-1.0.0"/>
	</bean>
	<bean id="getFeatureWithLockOperation-1.0.0" 
		class="org.geoserver.ows.Operation" singleton="false">
		<constructor-arg index="0" value="GetFeatureWithLock"/>
		<constructor-arg index="1" ref="wfsService-1.0.0"/>
		<constructor-arg index="2" ref="getFeature-1.0.0"/>
	</bean>
	<bean id="lockFeatureOperation-1.0.0" 
		class="org.geoserver.ows.Operation" singleton="false">
		<constructor-arg index="0" value="LockFeature"/>
		<constructor-arg index="1" ref="wfsService-1.0.0"/>
		<constructor-arg index="2" ref="lockFeature-1.0.0"/>
	</bean>
	<bean id="transactionOperation-1.0.0"
		class="org.geoserver.ows.Operation" singleton="false">
		<constructor-arg index="0" value="Transaction"/>
		<constructor-arg index="1" ref="wfsService-1.0.0"/>
		<constructor-arg index="2" ref="transaction-1.0.0"/>
	</bean>
	
	<!-- version 1.1.0 operations -->
	<bean id="getCapabilities-1.1.0" class="org.geoserver.wfs.v1_1_0.GetCapabilities">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="describeFeatureType-1.1.0" class="org.geoserver.wfs.v1_1_0.DescribeFeatureType">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="getFeature-1.1.0" class="org.geoserver.wfs.v1_1_0.GetFeature" singleton="false">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
	</bean>
	
	<!-- version 1.1.0 operation descriptors -->
	<bean id="getCapabilitiesOperation-1.1.0" 
		class="org.geoserver.ows.Operation" singleton="false">
		<constructor-arg index="0" value="GetCapabilities"/>
		<constructor-arg index="1" ref="wfsService-1.1.0"/>
		<constructor-arg index="2" ref="getCapabilities-1.1.0"/>
	</bean>
	<bean id="describeFeatureTypeOperation-1.1.0" 
		class="org.geoserver.ows.Operation" singleton="false">
		<constructor-arg index="0" value="DescribeFeatureType"/>
		<constructor-arg index="1" ref="wfsService-1.1.0"/>
		<constructor-arg index="2" ref="describeFeatureType-1.1.0"/>
	</bean>
	<bean id="getFeatureOperation-1.1.0" 
		class="org.geoserver.ows.Operation" singleton="false">
		<constructor-arg index="0" value="GetFeature"/>
		<constructor-arg index="1" ref="wfsService-1.1.0"/>
		<constructor-arg index="2" ref="getFeature-1.1.0"/>
	</bean>
	
	<!-- responses -->
	<bean id="getCapabilitiesResponse"
		class="org.geoserver.wfs.http.WFSCapsTransformerResponse" singleton="false"/>
	<bean id="describeFeatureTypeResponse"
		class="org.geoserver.wfs.http.FeatureTypeInfoResponse" singleton="false"/>
	<bean id="getFeatureResponse"
		class="org.geoserver.wfs.http.GetFeatureResultsEncoder" singleton="false"/>
	<bean id="lockFeatureResponse"
		class="org.geoserver.wfs.http.LockFeatureTypeResponse" singleton="false">
		<constructor-arg ref="wfs"/>
	</bean>
	<bean id="transactionResponse-1.0.0"
		class="org.geoserver.wfs.http.TransactionResponse" singleton="false">
		<constructor-arg ref="wfs"/>
	</bean>
		
	<!-- http url mapping -->
	<bean id="wfsURLMapping" 
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="interceptors">
	  		<list>
				 <ref bean="owsInitializer"/>
	  		</list>
		</property>
		<property name="mappings">
			<props>
				<prop key="/wfs">dispatcher</prop>
				<prop key="/wfs/*">dispatcher</prop>
			</props>
		</property>
	</bean>
	
	<!-- factories -->
	<bean id="filterFactory" class="org.geotools.filter.FilterFactoryImpl"/>
	
	<!-- http protocol bindings -->
	<bean id="typeNameKvpReader" class="org.geoserver.wfs.http.TypeNameKvpReader">
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="featureIdKvpReader" class="org.geoserver.wfs.http.FeatureIdKvpReader"/>
	<bean id="bboxKvpReader" class="org.geoserver.wfs.http.BBoxKvpReader"/>
	<bean id="filterKvpReader" class="org.geoserver.wfs.http.FilterKvpReader"/>
	<bean id="propertyNameKvpReader" class="org.geoserver.wfs.http.PropertyNameKvpReader">
		<constructor-arg ref="filterFactory"/>
	</bean>
	<bean id="maxFeatureKvpReader" class="org.geoserver.wfs.http.MaxFeaturesKvpReader"/>
	<bean id="srsNameFeatureKvpReader" class="org.geoserver.wfs.http.SrsNameKvpReader"/>
	<bean id="sortByKvpReader" class="org.geoserver.wfs.http.SortByKvpReader">
		<constructor-arg ref="filterFactory"/>
	</bean>
	<bean id="expiryKvpReader" class="org.geoserver.wfs.http.ExpiryKvpReader"/>
	
	<!-- 1.0 xml readers -->
	<bean id="getCapabilitiesXmlReader"
		class="org.geoserver.wfs.http.WfsXmlReader">
		<constructor-arg value="GetCapabilities"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="describeFetureTypeXmlReader"
		class="org.geoserver.wfs.http.WfsXmlReader">
		<constructor-arg value="DescribeFeatureType"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="getFeatureXmlReader" class="org.geoserver.wfs.http.WfsXmlReader">
		<constructor-arg value="GetFeature"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="getFeatureWithLockXmlReader" class="org.geoserver.wfs.http.WfsXmlReader">
		<constructor-arg value="GetFeatureWithLock"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="lockFeatureXmlReader" class="org.geoserver.wfs.http.WfsXmlReader">
		<constructor-arg value="LockFeature"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="transactionXmlReader" class="org.geoserver.wfs.http.WfsXmlReader">
		<constructor-arg value="Transaction"/>
		<constructor-arg ref="catalog"/>
	</bean>
	
	<!-- 1.1 xml readers -->
	<bean id="getCapabilitiesXmlReader-1.1.0"
		class="org.geoserver.wfs.v1_1_0.http.WfsXmlReader">
		<constructor-arg type="java.lang.String" value="GetCapabilities"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="describeFetureTypeXmlReader-1.1.0"
		class="org.geoserver.wfs.v1_1_0.http.WfsXmlReader">
		<constructor-arg value="DescribeFeatureType"/>
		<constructor-arg ref="catalog"/>
	</bean>
	
	<!-- default feature type encoders -->
	<bean id="gml2FeatureTypeEncoder" 
		class="org.geoserver.wfs.http.XmlSchemaEncoder">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="gml3FeatureTypeEncoder" 
		class="org.geoserver.wfs.v1_1_0.http.XmlSchemaEncoder">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<!-- default get feature producers -->
	<bean id="gml2FeatureProducer" 
		class="org.geoserver.wfs.GML2FeatureProducer" singleton="false">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
	</bean>
	<bean id="gml3FeatureProducer" class="org.geoserver.wfs.xml.GML3FeatureProducer" 
		parent="gml2FeatureProducer"/>
		

</beans>