<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="wfs" class="org.geoserver.wfs.WFS"/>
	
	<!-- service descriptor -->
	<bean id="wfsService" class="org.geoserver.ows.Service">
		<constructor-arg value="wfs"/>
		<constructor-arg ref="wfs"/>
	</bean>
	
	<!-- persistance -->
	<!-- bean id="wfsPersister" class="org.geoserver.BeanPersister">
		<constructor-arg ref="resourceLoader"/>
		<property name="beans">
			<list>
				<value>wfs</value>				
			</list>
		</property>
	</bean-->
	
	<!-- operation descriptors -->
	<bean id="getCapabilities" class="org.geoserver.wfs.GetCapabilities"
		singleton="false">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
	</bean>
	
	<bean id="getCapabilitiesOperation" 
		class="org.geoserver.ows.Operation" singleton="false">
		<constructor-arg index="0" value="GetCapabilities"/>
		<constructor-arg index="1" ref="wfsService"/>
		<constructor-arg index="2" ref="getCapabilities"/>
	</bean>
	
	<!-- responses -->
	<bean id="wfsCapsTransformerResponse"
		class="org.geoserver.wfs.http.WFSCapsTransformerResponse"/>
	
	<!-- http url mapping -->
	<bean id="wfsURLMapping" 
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="interceptors">
	  		<list>
				 <ref bean="owsInitializer"/>
	  		</list>
		</property>
		<property name="mappings">
			<props>
				<prop key="/wfs">dispatcher</prop>
				<prop key="/wfs/*">dispatcher</prop>
			</props>
		</property>
	</bean>
	
	<!-- http protocol bindings -->
	<bean id="typesKvpReader" class="org.geoserver.wfs.http.TypeNamesKvpReader"/>
	
	<bean id="getCapabilitiesXmlReader"
		class="org.geoserver.wfs.http.WfsXmlReader">
		<constructor-arg type="java.lang.String" value="GetCapabilities"/>
	</bean>

</beans>