<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <!-- wfs service -->
  <bean id="wfsvServiceTarget"
    class="org.geoserver.wfsv.DefaultVersioningWebFeatureService">
    <constructor-arg ref="wfs" />
    <constructor-arg ref="catalog" />
    <property name="filterFactory" ref="filterFactory" />
  </bean>

  <bean id="wfsvService"
    class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>org.geoserver.wfsv.VersionedWebFeatureService</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>wfsLogger</value>
        <value>wfsvServiceTarget</value>
      </list>
    </property>
  </bean>

  <!-- service descriptors -->
  <bean id="wfsvService-1.0.0" class="org.geoserver.platform.Service">
    <constructor-arg index="0" value="wfsv" />
    <constructor-arg index="1" ref="wfsvService" />
    <constructor-arg index="2" value="1.0.0" />
  </bean>

  <bean id="wfsvService-1.1.0" class="org.geoserver.platform.Service">
    <constructor-arg index="0" value="wfsv" />
    <constructor-arg index="1" ref="wfsvService" />
    <constructor-arg index="2" value="1.1.0" />
  </bean>

  <!-- service exception handler -->
  <bean id="wfsvExceptionHandler"
    class="org.geoserver.wfs.response.WfsExceptionHandler">
    <constructor-arg>
      <list>
        <ref bean="wfsvService-1.0.0" />
        <ref bean="wfsvService-1.1.0" />
      </list>
    </constructor-arg>
    <constructor-arg ref="wfs" />
  </bean>

  <!-- http url mapping -->
  <bean id="wfsvURLMapping"
    class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="interceptors">
      <list>
        <ref bean="citeComplianceHack" />
      </list>
    </property>

    <property name="mappings">
      <props>
        <prop key="/wfsv">dispatcher</prop>
        <prop key="/wfsv/*">dispatcher</prop>
      </props>
    </property>
  </bean>


  <!-- xml configuration 
  <bean id="wfsvXmlConfiguration-1.0"
    class="org.geoserver.wfsv.xml.v1_0_0.WFSConfiguration">
    <constructor-arg ref="catalog" />
    <constructor-arg ref="gml2SchemaBuilder" />
  </bean>
  -->
  <bean id="wfsvXmlConfiguration-1.1"
    class="org.geoserver.wfsv.xml.v1_1_0.WFSVConfiguration">
    <constructor-arg ref="catalog" />
    <constructor-arg ref="gml3SchemaBuilder" />
  </bean>
  
  <!-- 1.1 xml readers -->
  <bean id="wfsv-xmlReader-1.1.0" class="org.geoserver.wfsv.xml.v1_1_0.WfsvXmlReader" abstract="true">
    <constructor-arg ref="wfs"/>
    <constructor-arg ref="wfsvXmlConfiguration-1.1"/>
  </bean>
  <bean id="wfsvGetLogXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="GetLog"/>
  </bean>

</beans>