<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <!-- wfs service -->
  <bean id="wfsvServiceTarget"
    class="org.geoserver.wfsv.DefaultVersioningWebFeatureService">
    <constructor-arg ref="wfs" />
    <constructor-arg ref="catalog" />
    <property name="filterFactory" ref="filterFactory" />
  </bean>

  <bean id="wfsvService"
    class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>org.geoserver.wfsv.VersionedWebFeatureService</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>wfsLogger</value>
        <value>wfsvServiceTarget</value>
      </list>
    </property>
  </bean>

  <!-- service descriptors -->
  <bean id="wfsvService-1.0.0" class="org.geoserver.platform.Service">
    <constructor-arg index="0" value="wfsv" />
    <constructor-arg index="1" ref="wfsvService" />
    <constructor-arg index="2" value="1.0.0" />
  </bean>

  <bean id="wfsvService-1.1.0" class="org.geoserver.platform.Service">
    <constructor-arg index="0" value="wfsv" />
    <constructor-arg index="1" ref="wfsvService" />
    <constructor-arg index="2" value="1.1.0" />
  </bean>

  <!-- service exception handler -->
  <bean id="wfsvExceptionHandler"
    class="org.geoserver.wfs.response.WfsExceptionHandler">
    <constructor-arg>
      <list>
        <ref bean="wfsvService-1.0.0" />
        <ref bean="wfsvService-1.1.0" />
      </list>
    </constructor-arg>
    <constructor-arg ref="wfs" />
  </bean>

  <!-- http url mapping -->
  <bean id="wfsvURLMapping"
    class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="interceptors">
      <list>
        <ref bean="citeComplianceHack" />
      </list>
    </property>

    <property name="mappings">
      <props>
        <prop key="/wfsv">dispatcher</prop>
        <prop key="/wfsv/*">dispatcher</prop>
      </props>
    </property>
  </bean>


  <!-- xml configuration 
  <bean id="wfsvXmlConfiguration-1.0"
    class="org.geoserver.wfsv.xml.v1_0_0.WFSConfiguration">
    <constructor-arg ref="catalog" />
    <constructor-arg ref="gml2SchemaBuilder" />
  </bean>
  --> 
  <!-- 
  <bean id="versionedGml3SchemaBuilder" class="org.geoserver.wfsv.response.v1_1_0.VersionedSchemaBuilder">
      <constructor-arg ref="wfs"/>
      <constructor-arg ref="catalog"/>
      <constructor-arg ref="resourceLoader"/>
      <constructor-arg ref="wfsvXmlConfiguration-1.1"/>
  </bean>
   -->
    
    <!-- xml configuration -->
    <bean id="xmlConfiguration-1.0" class="org.geoserver.wfs.xml.v1_0_0.WFSConfiguration">
        <constructor-arg ref="catalog"/>
        <constructor-arg ref="gml2SchemaBuilder"/>
    </bean>
    <bean id="xmlConfiguration-1.1" class="org.geoserver.wfs.xml.v1_1_0.WFSConfiguration">
        <constructor-arg ref="catalog"/>
        <constructor-arg ref="gml3SchemaBuilder"/>
    </bean>
    <!-- 
    <bean id="xmlConfiguration-1.1-vfc" class="org.geoserver.wfs.xml.v1_1_0.WFSConfiguration">
        <constructor-arg ref="catalog"/>
        <constructor-arg ref="versionedGml3SchemaBuilder"/>
    </bean>
     -->
  
  
  <bean id="wfsvXmlConfiguration-1.1"
    class="org.geoserver.wfsv.xml.v1_1_0.WFSVConfiguration">
    <constructor-arg ref="catalog" />
    <constructor-arg ref="gml3SchemaBuilder" />
  </bean>
  
  <!-- 
  <bean id="wfsvXmlConfiguration-1.1-vfc"
    class="org.geoserver.wfsv.xml.v1_1_0.WFSVConfiguration">
    <constructor-arg ref="catalog" />
    <constructor-arg ref="versionedGml3SchemaBuilder" />
  </bean>
   -->
  
  <!-- Transaction element handlers -->
    <bean id="wfsRollbackElementHandler" class="org.geoserver.wfsv.RollbackElementHandler">
      <constructor-arg ref="wfs"/>
      <constructor-arg ref="filterFactory"/>
    </bean>
    
  <!-- kvp parsers -->
  <bean id="wfsvVersioned" class="org.geoserver.ows.kvp.BooleanKvpParser">
    <constructor-arg value="versioned"/>
  </bean>
    
  <!-- kvp request readers -->
  <bean id="describeVersionedFeatureTypeKvpReader" 
        class="org.geoserver.wfsv.kvp.DescribeVersionedFeatureTypeKvpRequestReader"/>
  
  <!-- 1.1 wfsv xml readers -->
  <bean id="wfsv-xmlReader-1.1.0" class="org.geoserver.wfsv.xml.v1_1_0.WfsvXmlReader" abstract="true">
    <constructor-arg ref="wfs"/>
    <constructor-arg ref="wfsvXmlConfiguration-1.1"/>
  </bean>
  <bean id="wfsvDescribeFeatureTypeXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="DescribeVersionedFeatureType"/>
  </bean>
  <bean id="wfsvGetVersionedFeatureXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="GetVersionedFeature"/>
  </bean>
  <bean id="wfsvGetLogXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="GetLog"/>
  </bean>
  <bean id="wfsvGetDiffXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="GetDiff"/>
  </bean>
  <bean id="wfsvRollbackXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="Rollback"/>
  </bean>
  <bean id="wfsvVersionedUpdateXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="VersionedUpdateElement"/>
  </bean>
  <bean id="wfsvDeleteElementXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="VersionedDeleteElement"/>
  </bean>
  <!-- 1.1 wfs readers handling extended elements -->
  <bean id="wfs-x-xmlReader-1.1.0" class="org.geoserver.wfsv.xml.v1_1_0.WfsXmlReader" abstract="true">
    <constructor-arg ref="wfs"/>
    <constructor-arg ref="wfsvXmlConfiguration-1.1"/>
  </bean>
  <bean id="wfs-x-TransactionXmlReader-1.1.0" parent="wfs-x-xmlReader-1.1.0">
    <constructor-arg value="Transaction"/>
  </bean>
  
  <!-- Encoders / Output formats -->
  <bean id="gml3VersionedFeatureTypeEncoder" class="org.geoserver.wfsv.response.v1_1_0.VersionedXmlSchemaEncoder">
        <constructor-arg ref="wfs"/>
        <constructor-arg ref="catalog"/>
        <constructor-arg ref="resourceLoader"/>
        <constructor-arg ref="wfsvXmlConfiguration-1.1"/>
  </bean>
  <bean id="gml2VersionedFeatureTypeEncoder" class="org.geoserver.wfsv.response.v1_0_0.VersionedXmlSchemaEncoder">
        <constructor-arg ref="gml2FeatureTypeEncoder"/>
  </bean>
  <bean id="gml2VersionedOutputFormat" 
      class="org.geoserver.wfsv.response.v1_0_0.VersionedGML2OutputFormat" singleton="false">
      <constructor-arg ref="wfs"/>
      <constructor-arg ref="geoServer"/>
      <constructor-arg ref="catalog"/>
  </bean>
  <bean id="transactionOutputFormat" class="org.geoserver.wfsv.response.v1_1_0.GetDiffTransactionOutputFormat">
    <constructor-arg ref="wfs"/>
    <constructor-arg ref="catalog"/>
    <constructor-arg ref="xmlConfiguration-1.1"/>
    <constructor-arg ref="filterFactory"/>
  </bean>
  <bean id="versionedGml3OutputFormat" class="org.geoserver.wfsv.response.v1_1_0.VersionedGML3OutputFormat"> 
        <constructor-arg ref="wfs"/>
        <constructor-arg ref="catalog"/>
        <constructor-arg ref="wfsvXmlConfiguration-1.1"/>
    </bean>
  <bean id="getLogGml3OutputFormat" class="org.geoserver.wfsv.response.v1_1_0.GetLogGML3OutputFormat">
    <constructor-arg ref="wfs"/>
    <constructor-arg ref="catalog"/>
    <constructor-arg ref="xmlConfiguration-1.1"/>
  </bean>
  <bean id="getLogGml2OutputFormat" class="org.geoserver.wfsv.response.v1_1_0.GetLogGML2OutputFormat">
    <constructor-arg ref="wfs"/>
    <constructor-arg ref="geoServer"/>
    <constructor-arg ref="catalog"/>
  </bean>
  <bean id="getLogJSONOutputFormat" class="org.geoserver.wfsv.response.v1_1_0.GetLogJSONOutputFormat">
  	<constructor-arg ref="wfs"/>
  </bean>
  <bean id="getLogHtmlOutputFormat" class="org.geoserver.wfsv.response.v1_1_0.GetLogHtmlOutputFormat">
  </bean>
  <bean id="getDiffHtmlOutputFormat" class="org.geoserver.wfsv.response.v1_1_0.GetDiffHtmlOutputFormat">
  </bean>

</beans>