.title {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #FFFFCC}
.bodyText {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #333333}
.bodyHeader { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000}
.bodyCaption { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #333333 }
.titleSub { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFCC }
.bodyCaptionLabel { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: lighter; color: #333333 }
.titleText { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #FFFFFF}
.bodyHeader2 { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000 }
