<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="wfsService-1.1.0" class="org.geoserver.platform.Service" lazy-init="true">
		<constructor-arg index="0" value="wfs"/>
		<constructor-arg index="1" ref="wfsService"/>
		<constructor-arg index="2" value="1.1.0"/>
	</bean>
	
	<!-- service exception handler -->
	<bean id="wfsExceptionHandler-1.1" class="org.geoserver.wfs.response.WfsExceptionHandler"
		lazy-init="true">
		<constructor-arg>
			<list>
				<ref bean="wfsService-1.1.0"/>
			</list>		
		</constructor-arg>	
		<constructor-arg ref="wfs"/>
	</bean>
	
    <!-- xml configuration -->
    <bean id="wfsXsd-1.1" class="org.geoserver.wfs.xml.v1_1_0.WFS">
        <constructor-arg ref="gml3SchemaBuilder"/>
    </bean>
	<bean id="xmlConfiguration-1.1" class="org.geoserver.wfs.xml.v1_1_0.WFSConfiguration">
		<constructor-arg ref="catalog"/>
		<constructor-arg ref="gml3SchemaBuilder"/>
		<constructor-arg ref="wfsXsd-1.1"/>
	</bean>
	<alias name="xmlConfiguration-1.1" alias="wfsXmlConfiguration-1.1"/>
	
	<!--  gml3 schema builder -->
	<bean id="gml3SchemaBuilder" class="org.geoserver.wfs.xml.FeatureTypeSchemaBuilder$GML3">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
		<constructor-arg ref="resourceLoader"/>
	</bean>
	
	<!-- 1.1 xml readers -->
	<bean id="xmlReader-1.1.0" class="org.geoserver.wfs.xml.v1_1_0.WfsXmlReader" abstract="true">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="xmlConfiguration-1.1"/>
	</bean>
	<bean id="wfsGetCapabilitiesXmlReader-1.1.0" parent="xmlReader-1.1.0">
		<constructor-arg type="java.lang.String" value="GetCapabilities"/>
	</bean>
	<bean id="describeFeatureTypeXmlReader-1.1.0" parent="xmlReader-1.1.0">
		<constructor-arg value="DescribeFeatureType"/>
	</bean>
	<bean id="getFeatureTypeXmlReader-1.1.0" parent="xmlReader-1.1.0">
		<constructor-arg value="GetFeature"/>
	</bean>
	<bean id="getFeatureWithLockXmlReader-1.1.0" parent="xmlReader-1.1.0">
		<constructor-arg value="GetFeatureWithLock"/>
	</bean>
	<bean id="lockFeatureXmlReader-1.1.0" parent="xmlReader-1.1.0">
		<constructor-arg value="LockFeature"/>
	</bean>
	<bean id="transactionXmlReader-1.1.0" parent="xmlReader-1.1.0">
		<constructor-arg value="Transaction"/>
	</bean>
	<bean id="getGmlObjectXmlReader-1.1.0" parent="xmlReader-1.1.0">
	    <constructor-arg value="GetGmlObject"/>
	</bean>
	
	<!--  default feature type encoder -->
	<bean id="gml3FeatureTypeEncoder" 
		class="org.geoserver.wfs.xml.v1_1_0.XmlSchemaEncoder">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
		<constructor-arg ref="resourceLoader"/>
	</bean>
	
	<!-- default output formats -->
	<bean id="gml3OutputFormat" class="org.geoserver.wfs.xml.GML3OutputFormat"> 
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
		<constructor-arg ref="xmlConfiguration-1.1"/>
	</bean>
	<bean id="hitsOutputFormat" class="org.geoserver.wfs.response.HitsOutputFormat">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="xmlConfiguration-1.1"/>
	</bean>
	
	<!--  responses  -->
	<bean id="lockFeatureResponse-1.1"
		class="org.geoserver.wfs.response.v1_1_0.LockFeatureTypeResponse" singleton="false">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
		<constructor-arg ref="xmlConfiguration-1.1"/>
	</bean>
	<bean id="transactionResponse-1.1"
		class="org.geoserver.wfs.response.v1_1_0.TransactionResponse" singleton="false">
		<constructor-arg ref="wfs"/>
		<constructor-arg ref="catalog"/>
		<constructor-arg ref="xmlConfiguration-1.1"/>
	</bean>
	<bean id="featureResponse"
		class="org.geoserver.wfs.response.v1_1_0.FeatureResponse">
		<constructor-arg ref="catalog"/>
		<constructor-arg ref="xmlConfiguration-1.1"/>
        <constructor-arg ref="wfs"/>
	</bean>
	
</beans>