<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
	<bean id="resourceLoader"
		class="org.geoserver.GeoServerResourceLoader"/>
		
	<bean id="dispatcher" class="org.geoserver.ows.http.Dispatcher"/>
	
	<!-- redifine wfs bean and supply some properties -->
	<bean id="wfs" class="org.geoserver.wfs.WFS">
		<property name="onlineResource" 
			value="http://localhost:8080/geoserver/wfs"/>
	</bean>
		
</beans>