<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- 
		core modules
	 -->
	 
	<!-- configuration module -->
	<bean id="config"
		class="org.vfny.geoserver.global.Config"/>
		
	<!-- geoserver module -->
	<bean id="geoServer"
		class="org.vfny.geoserver.global.GeoServer">
		<constructor-arg ref="config"/>
	</bean>
	
	<!-- data module -->
	<bean id="data"
		class="org.vfny.geoserver.global.Data">
		<constructor-arg ref="config"/>
		<constructor-arg ref="geoServer"/>
	</bean>
	<bean id="dataConfig"
		class="org.vfny.geoserver.config.DataConfig">
		<constructor-arg ref="data"/>
	</bean>	

	<!-- this registers the above modules with the servlet context
		 it is around to keep the struts app happy as we move away from 
		 servlets  -->
	<bean id="dataRegisterar"
		class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
		
		<constructor-arg type="java.lang.String" value="DATA"/>
 		<constructor-arg ref="data"/>
 	</bean>
	<bean id="dataConfigRegisterar"
		class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
		
		<constructor-arg type="java.lang.String" value="Config.Data"/>
 		<constructor-arg ref="dataConfig"/>
 	</bean>
 	
	<bean id="geoServerRegisterar"
		class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
		
		<constructor-arg type="java.lang.String" value="GeoServer"/>
 		<constructor-arg ref="geoServer"/>
 	</bean>
 	
 	<!-- 
		service strategies 
	-->
	
	<bean id="speedServiceStrategy"
		class="org.vfny.geoserver.servlets.SpeedStrategy"/>
		
	<bean id="fileServiceStrategy"
		class="org.vfny.geoserver.servlets.FileStrategy"/>
		
	<bean id="bufferServiceStrategy"
		class="org.vfny.geoserver.servlets.BufferStrategy"/>
		
	<bean id="partialBufferServiceStrategy"
		class="org.vfny.geoserver.servlets.PartialBufferStrategy"/>
		
</beans>