<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
		<property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:hibernate</property>
        <property name="connection.username">jdeolive</property>
        <property name="connection.password"></property>
        <property name="connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="dialect">org.geoserver.hibernate.H2Dialect</property>
        <!--
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>

		--> 
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.hibernate.cache.use_query_cache">true</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <!--property name="hbm2ddl.auto">create</property-->
        <property name="cglib.use_reflection_optimizer">true</property>
        
	</session-factory>

</hibernate-configuration>
