<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="wicketApplication"
		class="org.vfny.geoserver.ui.GeoserverApplication">
	</bean>

	<bean class="org.vfny.geoserver.ui.plugin.MainPageInfo">
		<constructor-arg>
			<value type="java.lang.Class">
				org.vfny.geoserver.ui.main.GeoserverDemoPage
			</value>
		</constructor-arg>
		<constructor-arg>
			<value>Demo</value>
		</constructor-arg>
		<constructor-arg>
			<value>Geoserver demos</value>
		</constructor-arg>
	</bean>

	<bean class="org.vfny.geoserver.ui.plugin.MainPageInfo">
		<constructor-arg>
			<value type="java.lang.Class">
				org.vfny.geoserver.ui.main.GeoserverConfigurationPage
			</value>
		</constructor-arg>
		<constructor-arg>
			<value>Configuration</value>
		</constructor-arg>
		<constructor-arg>
			<value>Data configuration setup</value>
		</constructor-arg>
	</bean>
</beans>