<html xmlns:wicket="http://wicket.apache.org/">
<head></head>
<body>
<wicket:extend>
<form wicket:id="newTranslationForm">
    <ul>
      <li>
        <div>
         <label for="newTranslationLanguage"><wicket:message key="NewTranslationPage.select"/></label> 
         <select id="newTranslationLanguage" wicket:id="newTranslationLanguage" class="text">
         </select>
         <!--label for="showNativeLanguageNames"><wicket:message key="NewTranslationPage.showNativeNames"/>
         <input type="checkbox" id="showNativeLanguageNames" wicket:id="showNativeLanguageNames"></input>
         </label-->
        </div>
      </li>
      <li>
        <div>
					<label for="localeInput"><wicket:message key="NewTranslationPage.locale"/></label>
					<span id="localeInput" wicket:id="localeInput"></span>
        </div>
      </li>
    </ul>
    <div class="button-group selfclear">
      <a href="#" wicket:id="createLanguage"><wicket:message key="NewTranslationPage.create">Create</wicket:message></a>
      <a href="#" wicket:id="cancel"><wicket:message key="cancel">Cancel</wicket:message></a>
    </div> 
</form>
</wicket:extend>
</body>
</html>
