<html xmlns:wicket="http://wicket.apache.org/">
<head></head>
<body>
<wicket:extend>
	<table class="clearBoth" style="width: 100%;margin-bottom:0px;">
    <tr>
      <td>
       <table class="clearBoth">
         <tr>
	         <td>
	            <form wicket:id="toolbarForm">
	              <a wicket:id="expandAll">Expand all</a>
	              <a wicket:id="collapseAll">Collapse all</a>
	              <a wicket:id="treeView">Tree</a>
	              <a wicket:id="flatView">Flat</a>
                <input type="checkbox" wicket:id="showMissingOnly" id="showMissingOnly">
                <label for="showMissingOnly" style="display: inline;color: #0076a1;text-decoration: none; font-weight: normal;cursor: pointer;"><wicket:message key="TranslationEditPage.showMissingOnly"/></label>
	            </form>
	         </td>
			     <td class="rightwise">
			        <!--  the pager/filter top block -->
			        <form wicket:id="filterForm">
			          <div class="rightwise">
			            <input id="filter" wicket:id="filter" class="rigthwise search" type="text" size="35" title="Search"></input>
			            <input wicket:id="submit" class="noshow" type="submit" value="Search"/>
			          </div>
			        </form>
			     </td>
         </tr>
       </table> 
      </td>
    </tr>
		<tr>
		  <td>
		   <form wicket:id="translateForm">
	       <table class="clearBoth">
	         <tr>
						<td style="vertical-align: top;width: 340px; height: 360px;">
						 <span wicket:id="keyTreePanel"></span>
						</td>
			      <td style="vertical-align: top;>
			        <span wicket:id="resourcePanel"></span>
			      </td>
			     </tr>
			   </table>
		   </form>
		  </td>
		</tr>
    <tr>
      <td>
       <form wicket:id="changeUILanguageForm">
	       <wicket:message key="TranslationEditPage.changeUILanguage"/> 
	       <select id="changeUiLanguage" wicket:id="changeUiLanguage"></select>
       </form>
      </td>
      <td>&nbsp;</td>
    </tr>
	</table>
<!-- the create new language translation dialog -->
<!--div wicket:id="dialog"></div-->
</wicket:extend>
</body>
</html>
