o<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <!-- controller for handling all incoming requests -->
  <bean id="gwcDispatcher" class="org.geowebcache.GeoWebCacheDispatcher">
    <property name="tileLayerDispatcher" ref="gsTLDispatcher"/>
    <property name="servletPrefix" value="gwc"/>
  </bean>

  <bean id="gsTLDispatcher" class="org.geowebcache.layer.TileLayerDispatcher">
    <property name="config" ref="geoserverConfig"/>
  </bean>
  
  <bean id="gsConfig" class="org.geowebcache.util.GetCapabilitiesConfiguration">
    <constructor-arg type="org.geowebcache.cache.CacheFactory" ref="cacheFactory"/>
    <constructor-arg value="http://localhost:8080/geoserver/wms?request=getCapabilities"/>
    <constructor-arg value=""/>
    <constructor-arg value="4x4"/>
  </bean>
  
  <bean id="gwcUrlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="alwaysUseFullPath" value="true"/>
    <property name="mappings">
      <props>
        <prop key="/gwc">gwcDispatcher</prop>
        <prop key="/gwc/*">gwcDispatcher</prop>
      </props>
    </property>
  </bean>
</beans>
