<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="securityPage" class="org.geoserver.web.MenuPageInfo">
		<property name="id" value="security" />
		<property name="titleKey" value="security.title" />
		<property name="descriptionKey" value="security.description" />
		<property name="componentClass" value="org.geoserver.security.web.SecurityPage" />
		<property name="icon" value="img/pls.png" />
		<property name="category" ref="dataCategory" />
		<property name="order" value="50" />
	</bean>

</beans> 