<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

<bean id="userMapping" class="org.geoserver.rest.RESTMapping">
<property name="routes">
	<map>
		<entry>
            <key><value>/users/users/{user}.{type}</value></key>
            <ref bean="userFinder"/>
        </entry>
		<entry>
            <key><value>/users/users/{user}</value></key>
            <ref bean="userFinder"/>
        </entry>
		<entry>
            <key><value>/users/users.{type}</value></key>
            <ref bean="userListFinder"/>
        </entry>
		<entry>
            <key><value>/users/users</value></key>
            <ref bean="userListFinder"/>
        </entry>
	</map>
</property>
</bean>

<bean id="userListFinder" class="org.geoserver.rest.BeanResourceFinder">
<property name="beanToFind">
    <bean class="org.geoserver.usermanagement.UserListResource">
       <property name="userDAO"> <ref bean="userDetailsService"/> </property>
    </bean>
</property>
</bean>

<bean id="userFinder" class="org.geoserver.rest.BeanResourceFinder">
<property name="beanToFind">
    <bean class="org.geoserver.usermanagement.UserResource">
       <property name="userDAO"> <ref bean="userDetailsService"/> </property>
    </bean>
</property>
</bean>

</beans>
