<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

		<!--  application state module -->
		<!-- 
	<bean id="applicationState"
		class="org.vfny.geoserver.global.ApplicationState">
		<constructor-arg ref="data"/>
		<constructor-arg ref="validation"/>
		<constructor-arg ref="config"/>
	</bean>
	
	<bean id="applicationStateRegisterar"
		class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
		
		<constructor-arg type="java.lang.String" value="GeoServer.ApplicationState"/>
 		<constructor-arg ref="applicationState"/>
 	</bean>
 	 -->
 	
 	<!--  dispatcher -->
	<bean id="dispatcher" class="org.geoserver.ows.Dispatcher"/>
	
	<!--  schema / dtd publisher -->
	<bean id="schemaPublisher" class="org.geoserver.ows.SchemaPublisher">
		<constructor-arg ref="resourceLoader"/>
	</bean>
	
	
   <bean id="dispatcherMapping" 
    class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">

	 <property name="mappings">
      <props>
        <prop key="/ows">dispatcher</prop>
        <prop key="/ows/*">dispatcher</prop>
        <prop key="/schemas/**/*.xsd">schemaPublisher</prop>
        <prop key="/schemas/**/*.dtd">schemaPublisher</prop>
      </props>
    </property>

  </bean>
 	
</beans>