<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>GeoServer</display-name>
  <description>Web Mapping and Feature Services</description>
  <context-param>
    <param-name>serviceStratagy</param-name>
    <param-value>SPEED</param-value>
  </context-param>
  
   <!-- Struts config needs to load before all the other servlets. -->
   <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>DescribeFeatureType</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.wfs.Describe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.Dispatcher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WmsDispatcher</servlet-name>
    <servlet-class>org.vfny.geoserver.wms.servlets.WmsDispatcher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WfsDispatcher</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.wfs.WfsDispatcher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FreefsLog</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.FreefsLog</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GetFeature</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.wfs.Feature</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetFeatureWithLock</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.wfs.FeatureWithLock</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMap</servlet-name>
    <servlet-class>org.vfny.geoserver.wms.servlets.GetMap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LockFeature</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.wfs.Lock</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.wfs.Transaction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WFSGetCapabilities</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.wfs.Capabilities</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetFeatureInfo</servlet-name>
    <servlet-class>org.vfny.geoserver.wms.servlets.GetFeatureInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DescribeLayer</servlet-name>
    <servlet-class>org.vfny.geoserver.wms.servlets.DescribeLayer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WMSGetCapabilities</servlet-name>
    <servlet-class>org.vfny.geoserver.wms.servlets.Capabilities</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetLegendGraphic</servlet-name>
    <servlet-class>org.vfny.geoserver.wms.servlets.GetLegendGraphic</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>TestWfsPost</servlet-name>
   <servlet-class>org.vfny.geoserver.servlets.wfs.TestWfsPost</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>JSPCompiler</servlet-name>
   <servlet-class>org.vfny.geoserver.servlets.JSPCompiler</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WfsDispatcher</servlet-name>
    <url-pattern>/wfs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WmsDispatcher</servlet-name>
    <url-pattern>/wms/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FreefsLog</servlet-name>
    <url-pattern>/FreefsLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DescribeFeatureType</servlet-name>
    <url-pattern>/wfs/DescribeFeatureType/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/dispatcher/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WFSGetCapabilities</servlet-name>
    <url-pattern>/wfs/GetCapabilities/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFeature</servlet-name>
    <url-pattern>/wfs/GetFeature/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFeatureWithLock</servlet-name>
    <url-pattern>/wfs/GetFeatureWithLock/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LockFeature</servlet-name>
    <url-pattern>/wfs/LockFeature/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/wfs/Transaction/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WMSGetCapabilities</servlet-name>
    <url-pattern>/wms/GetCapabilities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMap</servlet-name>
    <url-pattern>/wms/GetMap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DescribeLayer</servlet-name>
    <url-pattern>/wms/DescribeLayer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFeatureInfo</servlet-name>
    <url-pattern>/wms/GetFeatureInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetLegendGraphic</servlet-name>
    <url-pattern>/wms/GetLegendGraphic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>TestWfsPost</servlet-name>
   <url-pattern>/wfs/TestWfsPost/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>JSPCompiler</servlet-name>
   <url-pattern>/JSPCompiler</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <mime-mapping>
   <extension>xsl</extension>
   <mime-type>text/xml</mime-type>
  </mime-mapping>
		      
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 

  <taglib>
    <taglib-uri>/tags/struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-html</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-nested</taglib-uri>
    <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-tiles</taglib-uri>
    <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
  </taglib>  
  
</web-app>
