<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="webApplication"
      class="org.geoserver.web.GeoServerApplication">
  </bean>
  
  <bean id="wicket" class="org.springframework.web.servlet.mvc.ServletWrappingController" lazy-init="true">
   <property name="servletClass">
     <value>org.apache.wicket.protocol.http.WicketServlet</value>
   </property>
   <property name="servletName">
     <value>wicket</value>
   </property>
   <property name="initParameters">
     <props>
       <!-- either development on deployment, make sure you set it to deployment before releasing! -->
       <prop key="configuration">development</prop>
       <prop key="applicationClassName">org.geoserver.web.GeoServerApplication</prop>
       <prop key="applicationFactoryClassName">org.apache.wicket.spring.SpringWebApplicationFactory</prop>
     </props>
   </property>
  </bean>

  <bean id="webDispatcherMapping" 
     class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" lazy-init="true">
     <property name="alwaysUseFullPath" value="true"/>
     <property name="mappings">
      <props>
        <prop key="/web">wicket</prop>
        <prop key="/web/**">wicket</prop>
        <prop key="/web/resources/**">wicket</prop>
        <prop key="/**/*.css">filePublisher</prop>
        <prop key="/**/*.png">filePublisher</prop>
        <prop key="/**/*.gif">filePublisher</prop>
        <prop key="/**/*.jpg">filePublisher</prop>
      </props>
    </property>
  </bean>
  
  <!-- Common Categories -->
  <bean id="dataCategory" class="org.geoserver.web.Category">
     <property name="nameKey" value="category.data"/>
     <property name="order" value="150"/>
  </bean>

  <bean id="servicesCategory" class="org.geoserver.web.Category">
     <property name="nameKey" value="category.services"/>
     <property name="order" value="125"/>
  </bean>

  <bean id="serverCategory" class="org.geoserver.web.Category">
     <property name="nameKey" value="category.server"/>
     <property name="order" value="100"/>
  </bean>

  <!--  main application pages  -->
  <!-- <bean id="dataPage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="data"/>
    <property name="titleKey" value="Data"/>
    <property name="componentClass" value="org.geoserver.web.data.tree.DataPage"/>
    <property name="category" ref="dataCategory"/>
  </bean> -->

  <!-- Resource configuration pages -->
  <bean id="basicResourceConfig" class="org.geoserver.web.data.ResourceConfigurationPanelInfo">
    <property name="id" value="basic"/>
    <property name="titleKey" value="data.resource.config.basic"/>
    <property name="componentClass" value="org.geoserver.web.data.BasicResourceConfig"/>
  </bean>

  <!-- Layer configuration pages -->
  <bean id="basicLayerConfig" class="org.geoserver.web.publish.LayerConfigurationPanelInfo">
    <property name="id" value="basic"/>
    <property name="titleKey" value="publish.layer.config.basic"/>
    <property name="componentClass" value="org.geoserver.web.publish.BasicLayerConfig"/>
  </bean>
    
  <bean id="httpLayerConfig" class="org.geoserver.web.publish.LayerConfigurationPanelInfo">
    <property name="id" value="http"/>
    <property name="titleKey" value="publish.layer.config.http"/>
    <property name="componentClass" value="org.geoserver.web.publish.HTTPLayerConfig"/>
  </bean>
  
  <bean id="h2Config" class="org.geoserver.web.data.DataStorePanelInfo">
    <property name="id" value="h2"/>
    <property name="factoryClass" value="org.geotools.data.h2.H2DataStoreFactory"/>
    <property name="iconBase" value="org.geoserver.web.GeoServerApplication"/>
    <property name="icon" value="img/icons/geosilk/database_vector.png"/>
  </bean>
  
  <bean id="postgisConfig" class="org.geoserver.web.data.DataStorePanelInfo">
    <property name="id" value="postgis"/>
    <property name="factoryClass" value="org.geotools.data.postgis.PostgisDataStoreFactory"/>
    <property name="iconBase" value="org.geoserver.web.GeoServerApplication"/>
    <property name="icon" value="img/icons/geosilk/database_vector.png"/>
  </bean>
  
  <bean id="shapefileConfig" class="org.geoserver.web.data.DataStorePanelInfo">
    <property name="id" value="property"/>
    <property name="factoryClass" value="org.geotools.data.shapefile.ShapefileDataStoreFactory"/>
    <property name="iconBase" value="org.geoserver.web.GeoServerApplication"/>
    <property name="icon" value="img/icons/geosilk/page_white_vector.png"/>
  </bean>
  
  <bean id="propertyConfig" class="org.geoserver.web.data.DataStorePanelInfo">
    <property name="id" value="property"/>
    <property name="factoryClass" value="org.geotools.data.property.PropertyDataStoreFactory"/>
    <property name="iconBase" value="org.geoserver.web.GeoServerApplication"/>
    <property name="icon" value="img/icons/geosilk/database_vector.png"/>
  </bean>
  
  <bean id="wfsDataStoreConfig" class="org.geoserver.web.data.DataStorePanelInfo">
    <property name="id" value="wfs"/>
    <property name="factoryClass" value="org.geotools.data.wfs.WFSDataStoreFactory"/>
    <property name="iconBase" value="org.geoserver.web.GeoServerApplication"/>
    <property name="icon" value="img/icons/geosilk/server_vector.png"/>
  </bean>
  
  <bean id="demoPageShortcut" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="demos"/>
    <property name="titleKey" value="demo.title"/>
    <property name="descriptionKey" value="demo.description"/>
    <property name="componentClass" value="org.geoserver.web.DemoPage"/>
  </bean>
  <bean id="dataPageMenu" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="data"/>
    <property name="titleKey" value="data.title"/>
    <property name="descriptionKey" value="data.description"/>
    <property name="componentClass" value="org.geoserver.web.data.tree.DataPage"/>
    <property name="category" ref="dataCategory"/>
  </bean>
  <bean id="adminPageMenu" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="server.admin"/>
    <property name="titleKey" value="ServerAdminPage.page.title"/>
    <property name="descriptionKey" value="ServerAdminPage.page.description"/>
    <property name="componentClass" value="org.geoserver.web.admin.ServerAdminPage"/>
    <property name="category" ref="serverCategory"/>
    <property name="icon" value="server.png"/>
  </bean>

  <!-- 
  <bean id="mySqlConfig" class="org.geoserver.web.data.DataStorePanelInfo">
    <property name="id" value="MySql"/>
    <property name="storeClassName" value="org.geotools.data.mysql.MySQLDataStore"/>
    <property name="factoryClassName" value="org.geotools.data.mysql.MySQLDataStoreFactory"/>
    <property name="iconBase" value="org.geoserver.web.GeoServerApplication"/>
    <property name="icon" value="img/icons/geosilk/database_vector.png"/>
  </bean>
  -->
    
  <!-- bean id="servicesPage" class="org.geoserver.web.MainPageInfo">
    <property name="id" value="services"/>
    <property name="title" value="Services"/>
    <property name="componentClass" value="org.geoserver.web.services.ServicesPage"/>
  </bean-->
  
  <!-- data store wizards -->
  <!--bean id="shapefileWizard" class="org.geoserver.web.data.wizard.ShapefileWizardDelegate"/-->
</beans>
