<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <!-- controller which dispatches to ows services -->
  <bean id="owsDispatcher" class="org.geoserver.ows.http.Dispatcher"/>
  	
  <!-- interceptor which initializes ows services -->
  <bean id="owsInitializer" class="org.geoserver.ows.http.OWSInitializer"/>
  
  <bean id="owsDispatcherMapping" 
  	class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
  	
  	<property name="interceptors">
  		<list>
			 <ref bean="owsInitializer"/>
  		</list>
  	</property>
  	
  	<property name="mappings">
  	  <props>
      	<prop key="/ows/*">owsDispatcher</prop>
      </props>
    </property>
    
  </bean>
  
</beans>