<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
<bean id="geosearchMapping" class="org.geoserver.rest.RESTMapping">
<property name="routes">
  <map>
        <entry>
          <key><value>/sitemap.xml</value></key>
          <value>sitemap</value>
        </entry>
        <entry>
          <key><value>/geosearch/{namespace}.kml</value></key>
          <value>namespaceindex</value>
        </entry>
        <entry>
          <key><value>/geosearch/{namespace}/{layer}.kml</value></key>
          <value>feature</value>
        </entry>
        <entry>
          <key><value>/geosearch/{namespace}/{layer}/{feature}.kml</value></key>
          <value>feature</value>
        </entry>
  </map>
</property>
</bean>

<bean id="sitemap" class="org.geoserver.geosearch.SiteMapRestlet">
    <property name="dataConfig"><ref bean="dataConfig"/></property>
    <property name="data"><ref bean="data"/></property>
    <property name="geoServer"><ref bean="geoServer"/></property>
</bean>
<bean id="namespaceindex" class="org.geoserver.geosearch.NamespaceIndexRestlet">
    <property name="dataConfig"><ref bean="dataConfig"/></property>
    <property name="data"><ref bean="data"/></property>
    <property name="geoServer"><ref bean="geoServer"/></property>
</bean>
<bean id="feature" class="org.geoserver.geosearch.FeatureRestlet">
    <property name="wms"><ref bean="wms"/></property>
    <property name="webMapService"><ref bean="webMapService"/></property>
    <property name="catalog"><ref bean="catalog"/></property>
</bean>

<bean id="KMLGeosearchMapProducerFactory" 
    class="org.vfny.geoserver.wms.responses.map.kml.GeoSearchMapProducerFactory">
    <constructor-arg ref="catalog"/>
</bean>

<bean id="dataRegionator"
    class="org.vfny.geoserver.wms.responses.map.kml.ReflectiveRegionatingStrategyFactory"
>
    <constructor-arg value="data"/>
    <constructor-arg value="org.vfny.geoserver.wms.responses.map.kml.DataRegionatingStrategy"/>
</bean>
<bean id="geometryRegionator"
    class="org.vfny.geoserver.wms.responses.map.kml.ReflectiveRegionatingStrategyFactory"
>
    <constructor-arg value="geo"/>
    <constructor-arg value="org.vfny.geoserver.wms.responses.map.kml.GeometryRegionatingStrategy"/>
</bean>
<bean id="sldRegionator"
    class="org.vfny.geoserver.wms.responses.map.kml.ReflectiveRegionatingStrategyFactory"
>   
    <constructor-arg value="sld"/>
    <constructor-arg value="org.vfny.geoserver.wms.responses.map.kml.SLDRegionatingStrategy"/>
</bean>

</beans>
