<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>GeoServer</display-name>
  <description>Web Mapping, Feature and Coverage Services</description>

  <context-param>
    <param-name>serviceStratagy</param-name>
    <!-- Meaning of the different values :
    	 
    	 PARTIAL-BUFFER
    	 - Partially buffers the first xKb to disk. Once that has buffered, the the 
    	   result is streamed to the user. This will allow for most errors to be caught
    	   early.
    	   
         BUFFER
         - stores the entire response in memory first, before sending it off to
           the user (may run out of memory)

         SPEED
         - outputs directly to the response (and cannot recover in the case of an
           error)

         FILE
         - outputs to the local filesystem first, before sending it off to the user
      -->
    <param-value>PARTIAL-BUFFER</param-value>
  </context-param>
  
  <context-param>
	<!-- see comments on the PARTIAL-BUFFER strategy -->
	<!-- this sets the size of the buffer.  default is "50" = 50kb -->

	<param-name>PARTIAL_BUFFER_STRATEGY_SIZE</param-name>
	<param-value>50</param-value>
  </context-param>
  
	<!-- pick up all spring application contexts -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/applicationContext.xml</param-value>
	</context-param>

   <!--
	  <context-param>
		   <param-name>GEOSERVER_DATA_DIR</param-name>
		    <param-value>C:\eclipse\workspace\geoserver_trunk\cite\confCiteWFSPostGIS</param-value>
	  </context-param> 
   -->
   
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.vfny.geoserver.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- spring dispatcher servlet, dispatches incoming requests to controllers -->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>	
  </servlet>

    <servlet>
        <servlet-name>geoserver</servlet-name>
        <servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
        <init-param>
            <param-name>applicationFactoryClassName</param-name>
            <param-value>wicket.spring.SpringWebApplicationFactory</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
  <servlet>
   <servlet-name>TestWfsPost</servlet-name>
   <servlet-class>org.vfny.geoserver.wfs.servlets.TestWfsPost</servlet-class>
  </servlet>
   
    <servlet-mapping>
        <servlet-name>geoserver</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
	<url-pattern>/wms/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
	<url-pattern>/wcs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
	<url-pattern>/wfs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>/ows/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>TestWfsPost</servlet-name>
   <url-pattern>/TestWfsPost/*</url-pattern>
  </servlet-mapping>

  <mime-mapping>
   <extension>xsl</extension>
   <mime-type>text/xml</mime-type>
  </mime-mapping>

  <welcome-file-list>
    <welcome-file>/WEB-INF/pages/index.html</welcome-file>
  </welcome-file-list>

  <!-- spring taglib -->
  <taglib>
  	<taglib-uri>/tags/spring</taglib-uri>
  	<taglib-location>/WEB-INF/tld/spring.tld</taglib-location>
  </taglib>
</web-app>