IMG { border-style: none; }

#cursorTrack, #cursorTrack INPUT
{
  border: 0px blue none;
  font: 8pt Verdana, geneva, arial, sans-serif;
  color: #000000;
  background-color: transparent;
}

#mapScaleText, #mapScaleText INPUT
{
  font: 8pt Verdana, geneva, arial, sans-serif;
  color: #000000;
}

#timestamp, #timestamp INPUT
{
  font: 8pt Verdana, geneva, arial, sans-serif;
  color: #000000;
  background-color: transparent;
  border: 0px blue none;
}

#mainMapContainer {
  border: 1px solid olive;
  cursor: crosshair;
}

/* elements for the layerCOntrol widget */
.layerControl TD {
  padding: 2px;
  font: 70% Verdana, geneva, arial, sans-serif;
}

.altRow_1 {
  background-color: #D1E2EC;
}

.altRow_0 {
  background-color: #FFFFFF;
}

.dataSource {
  font-size: 80%; 
  font-weight: bold; 
  float: right;
}

H4 {
  margin-bottom: 0;
}


/*
#legend {
	font-size: 70%; 
  font-family: cursive;
  background-color: silver;
}
*/