<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean class="org.vfny.geoserver.ui.plugin.DataConfigurationPageInfo">
		<constructor-arg>
			<value type="java.lang.Class">org.vfny.geoserver.two.ui.ModuleTwoConfigurationPage</value>
		</constructor-arg>
		<constructor-arg>
			<value>Module two</value>
		</constructor-arg>
		<constructor-arg>
			<value>Module two configuration page</value>
		</constructor-arg>
	</bean>
</beans>