<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- the wcs configuration bean. -->
	<bean id="wcs" class="org.vfny.geoserver.global.WCS">
	  <constructor-arg ref="geoServer"/>
	</bean>
	
	<!-- the wcs service config -->
	<bean id="wcsConfig"
		class="org.vfny.geoserver.config.WCSConfig">
		<constructor-arg ref="wcs"/>
	</bean>
	
	<!-- this registers the above beans with the servlet context
	 it is around to keep the struts app happy as we move away from 
	 servlets  -->
	<bean id="wcsRegisterar"
		class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
		
		<constructor-arg type="java.lang.String" value="WCS"/>
 		<constructor-arg ref="wcs"/>
 	</bean>
 	
 	<bean id="wcsConfigRegisterar"
		class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
		
		<constructor-arg type="java.lang.String" value="Config.WCS"/>
 		<constructor-arg ref="wcsConfig"/>
 	</bean>
 	
</beans>