<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <!-- 
   Demo menu item
   -->
  <bean id="importerMenuPage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="importer"/>
    <property name="titleKey" value="ImportPage.menu"/>
    <property name="descriptionKey" value="ImportPage.description"/>
    <property name="componentClass" value="org.geoserver.web.importer.ImportPage"/>
  </bean>
  
  <!-- the import thread pool manager -->
  <bean id="importerPool" class="org.geoserver.importer.ImporterThreadManager"/>
  
 </beans>
