<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

<bean id="restConfigMapping" class="org.geoserver.rest.RESTMapping">
<property name="routes">
  <map>
        <entry>
          <key><value>/folders/{folder}/layers/{layer}/default.{type}</value></key>
          <value>defaultLayerConfigFinder</value>
        </entry>
        <entry>
          <key><value>/folders/{folder}/layers/{layer}/default</value></key>
          <value>defaultLayerConfigFinder</value>
        </entry>
        <entry>
          <key><value>/folders/{folder}/layers/{layer}/{method}.{type}</value></key>
          <value>folderFileFinder</value>
        </entry>  
        <entry>
          <key><value>/folders/{folder}/file.{type}</value></key>
          <value>folderFileFinder</value>
        </entry>  
       <entry>
          <key><value>/folders/{folder}/layers/{layer}.{type}</value></key>
          <value>layerFinder</value>
        </entry>
        <entry>
          <key><value>/folders/{folder}/layers/{layer}</value></key>
          <value>layerFinder</value>
        </entry>
        <entry>
          <key><value>/folders/{folder}/layers.{type}</value></key>
          <value>layerListFinder</value>
        </entry>
        <entry>
          <key><value>/folders/{folder}/layers</value></key>
          <value>layerListFinder</value>
        </entry>
        <entry>
          <key><value>/folders/{folder}.{type}</value></key>
          <value>folderConfigFinder</value>
        </entry>
        <entry>
          <key><value>/folders/{folder}</value></key>
          <value>folderConfigFinder</value>
        </entry>
        <entry>
          <key><value>/folders.{type}</value></key>
          <value>folderListFinder</value>
        </entry>
        <entry>
          <key><value>/folders</value></key>
          <value>folderListFinder</value>
        </entry>
        <!--entry>
          <key><value>/styles/{style}.{type}</value></key>
          <value>styleFinder</value>
        </entry>
        <entry>
          <key><value>/styles/{style}</value></key>
          <value>styleFinder</value>
        </entry>
        <entry>
          <key><value>/styles.{type}</value></key>
          <value>styleListFinder</value>
        </entry>
        <entry>
          <key><value>/styles</value></key>
          <value>styleListFinder</value>
        </entry-->
        <entry>
          <key><value>/workspaces/{workspace}.{type}</value></key>
          <value>workspaceFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}</value></key>
          <value>workspaceFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces.{type}</value></key>
          <value>workspaceFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces</value></key>
          <value>workspaceFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/file.{format}</value></key>
          <value>storeFileFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/file.{format}</value></key>
          <value>storeFileFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}.{format}</value></key>
          <value>dataStoreFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}</value></key>
          <value>dataStoreFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores.{format}</value></key>
          <value>dataStoreFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/datastores</value></key>
          <value>dataStoreFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}.{format}</value></key>
          <value>coverageStoreFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}</value></key>
          <value>coverageStoreFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores.{format}</value></key>
          <value>coverageStoreFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/coveragestores</value></key>
          <value>coverageStoreFinder</value>
        </entry>
        
        <!--entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/url.{format}</value></key>
          <value>storeFileFinder</value>
        </entry-->
         <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/featuretypes/{featuretype}.{format}</value></key>
          <value>featureTypeFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/featuretypes/{featuretype}</value></key>
          <value>featureTypeFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/featuretypes.{format}</value></key>
          <value>featureTypeFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/featuretypes</value></key>
          <value>featureTypeFinder</value>
        </entry>
        
         <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages/{coverage}.{format}</value></key>
          <value>coverageFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages/{coverage}</value></key>
          <value>coverageFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages.{format}</value></key>
          <value>coverageFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages</value></key>
          <value>coverageFinder</value>
        </entry>
        
        <entry>
          <key><value>/workspaces/{workspace}/featuretypes/{featuretype}.{format}</value></key>
          <value>featureTypeFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/featuretypes/{featuretype}</value></key>
          <value>featureTypeFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/featuretypes.{format}</value></key>
          <value>featureTypeFinder</value>
        </entry>
        
         <entry>
          <key><value>/workspaces/{workspace}/coverages/{coverage}.{format}</value></key>
          <value>coverageFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coverages/{coverage}</value></key>
          <value>coverageFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coverages.{format}</value></key>
          <value>coverageFinder</value>
        </entry>
        
        <entry>
          <key><value>/namespaces/{namespace}.{format}</value></key>
          <value>namespaceFinder</value>
        </entry>
        <entry>
          <key><value>/namespaces/{namespace}</value></key>
          <value>namespaceFinder</value>
        </entry>
        <entry>
          <key><value>/namespaces.{format}</value></key>
          <value>namespaceFinder</value>
        </entry>
        <entry>
          <key><value>/namespaces</value></key>
          <value>namespaceFinder</value>
        </entry>
        <entry>
          <key><value>/layers/{layer}/styles.{format}</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/layers/{layer}/styles</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/styles/{style}.{format}</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/styles/{style}</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/styles.{format}</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/styles</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/layers/{layer}.{format}</value></key>
          <value>layerFinder2</value>
        </entry>
        <entry>
          <key><value>/layers/{layer}</value></key>
          <value>layerFinder2</value>
        </entry>
        <entry>
          <key><value>/layers.{format}</value></key>
          <value>layerFinder2</value>
        </entry>
        <entry>
          <key><value>/layers</value></key>
          <value>layerFinder2</value>
        </entry>
        
         <entry>
          <key><value>/layergroups/{layergroup}.{format}</value></key>
          <value>layerGroupFinder2</value>
        </entry>
        <entry>
          <key><value>/layergroups/{layergroup}</value></key>
          <value>layerGroupFinder2</value>
        </entry>
        <entry>
          <key><value>/layergroups.{format}</value></key>
          <value>layerGroupFinder2</value>
        </entry>
        <entry>
          <key><value>/layergroups</value></key>
          <value>layerGroupFinder2</value>
        </entry>
        
  </map>
</property>
</bean>

<bean id="layerFinder" class="org.geoserver.restconfig.LayerFinder">
    <property name="dataConfig"><ref bean="dataConfig"/></property>
    <property name="data"><ref bean="data"/></property>
</bean>
<bean id="layerListFinder" class="org.geoserver.restconfig.LayerListFinder">
    <property name="dataConfig"><ref bean="dataConfig"/></property>
    <property name="data"><ref bean="data"/></property>
</bean>
<bean id="defaultLayerConfigFinder" class="org.geoserver.restconfig.DefaultLayerConfigFinder">
    <property name="dataConfig"><ref bean="dataConfig"/></property>
    <property name="data"><ref bean="data"/></property>
</bean>
<bean id="folderFileFinder" class="org.geoserver.restconfig.FolderFileFinder">
    <property name="dataConfig"><ref bean="dataConfig"/></property>
    <property name="data"><ref bean="data"/></property>
    <property name="geoServer"><ref bean="geoServer"/></property>
    <property name="globalConfig"><ref bean="globalConfig"/></property>
</bean>
<bean id="folderConfigFinder" class="org.geoserver.restconfig.FolderConfigFinder">
    <property name="dataConfig"><ref bean="dataConfig"/></property>
    <property name="data"><ref bean="data"/></property>
</bean>
<bean id="folderListFinder" class="org.geoserver.restconfig.FolderListFinder">
    <property name="dataConfig"><ref bean="dataConfig"/></property>
</bean>
<bean id="styleFinder" class="org.geoserver.restconfig.StyleResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
      <property name="data"> <ref bean="data"/> </property>
</bean>
<bean id="styleListFinder" class="org.geoserver.restconfig.StyleListResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
</bean>
<bean id="layerGroupFinder" class="org.geoserver.restconfig.LayerGroupResource">
      <property name="WMSConfig"><ref bean="wmsConfig"/></property>
      <property name="WMS"><ref bean="wms"/></property>
      <property name="WFS"><ref bean="wfs"/></property>
      <property name="WCS"><ref bean="wcs"/></property>
      <property name="geoserver"><ref bean="geoServer"/> </property>
</bean> 
<bean name="layerGroupListFinder" class="org.geoserver.restconfig.LayerGroupListResource">
      <property name="WMSConfig"><ref bean="wmsConfig"/></property>
</bean>
<bean id="dummyRestlet" class="org.geoserver.restconfig.DummyRestlet"/>

  <bean id="abstractCatalogFinder" class="org.geoserver.catalog.rest.AbstractCatalogFinder" abstract="true">
    <constructor-arg ref="catalog2"/>
  </bean>
  
  <bean id="workspaceFinder" class="org.geoserver.catalog.rest.WorkspaceFinder" parent="abstractCatalogFinder"/>
  <bean id="namespaceFinder" class="org.geoserver.catalog.rest.NamespaceFinder" parent="abstractCatalogFinder"/>
  <bean id="dataStoreFinder" class="org.geoserver.catalog.rest.DataStoreFinder" parent="abstractCatalogFinder"/>
  <bean id="coverageStoreFinder" class="org.geoserver.catalog.rest.CoverageStoreFinder" parent="abstractCatalogFinder"/>
  <bean id="storeFileFinder" class="org.geoserver.catalog.rest.StoreFileFinder" parent="abstractCatalogFinder"/>
  <bean id="featureTypeFinder" class="org.geoserver.catalog.rest.FeatureTypeFinder" parent="abstractCatalogFinder"/>
  <bean id="coverageFinder" class="org.geoserver.catalog.rest.CoverageFinder" parent="abstractCatalogFinder"/>
  <bean id="styleFinder2" class="org.geoserver.catalog.rest.StyleFinder" parent="abstractCatalogFinder"/>
  <bean id="layerFinder2" class="org.geoserver.catalog.rest.LayerFinder" parent="abstractCatalogFinder"/>
  <bean id="layerGroupFinder2" class="org.geoserver.catalog.rest.LayerGroupFinder" parent="abstractCatalogFinder"/>
</beans>
