/* GeoServer Default Style */
body {
 font-size: 90%;
 margin: 0ex;
 color: #000;
 font-family: tahoma, verdana, sans, arial, helvetica, sans-serif;
 background: #fed;
}
a:visited,
a:link {
 color: #99C;
 text-decoration: none;
}
a:hover {
 color: #99C;
 text-decoration: underline;
}
table.page {
 text-align: left;
 width: 100%;
 cellspacing: 0;
 cellpadding: 0;
}
tr.header {
 vertical-align: bottom;
 white-space: nowrap;
}
td.gutter {
 width: 12em;
}
.project {
 font-size: 110%;
 font-weight: bold;
 font-style: italic;
 color: #99C;
}
.license {
 font-size: 90%;
 font-weight: normal;
 font-style: italic;
 color: #99C;
}
.title {
 font-size: 140%;
 font-weight: bold;
 font-style: normal;
}
.contact {
 font-size: 90%;
}

td.sidebar {
 vertical-align: top;
}
tr.bar {
 background: #99C;
 color: #ccc;
 vertical-align: center;
 height: 1.5em;
}
td.locator {
 white-space: nowrap;
 border: black 1px;
}
span.locator {
 font-size: 90%;
}
td.login {
 font-size: 90%;
 vertical-align:center;
 text-align: right;
 white-space: nowrap;
 border: black 1px;
}
span.loginStatus {
 font-size: 100%;
}
title {
 font-size: 140%;
 font-weight: bold;
}
td.application {
 vertical-align: top;
 background-color: rgb(250,250,250);
}
td.maintenance {
 vertical-align: top;
 background-color: rgb(153,153,102);
}
td.service {
 vertical-align: top;
 background-color: rgb(102, 102, 153);
}
td.data {
 vertical-align: top;
 background-color: rgb(153, 153, 153);
}
