<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- The xstream and the legacy service loaders -->
	<bean id="legacyWcsLoader" class="org.geoserver.wcs.WCSLoader"/>
	<bean id="wcsLoader" class="org.geoserver.wcs.WCSXStreamLoader">
	  <constructor-arg ref="resourceLoader"/>
	</bean>
	
	<!-- the abstract base bean -->
	<bean id="wcsAbstractService" abstract="true"
		class="org.vfny.geoserver.servlets.AbstractService">
		<!--  reference to geoserver bean defined in the 'main' context -->
		<property name="geoServer" ref="geoServer"/>
		<property name="catalog" ref="catalog"/>
	</bean>

	<!-- the abstract wcs specific bean  -->
	<bean id="wcsService" abstract="true"
		class="org.vfny.geoserver.wcs.servlets.WCService"
		parent="wcsAbstractService">	
		<!-- reference to wcs bean in this context -->
		<constructor-arg ref="geoServer"/>
	</bean>
		
	<bean id="wcsGetCapabilities" 
		class="org.vfny.geoserver.wcs.servlets.Capabilities"
		parent="wcsService">
	</bean>

	<bean id="wcsDescribeCoverage"
		class="org.vfny.geoserver.wcs.servlets.Describe"
		parent="wcsService">
	</bean>
		
	<bean id="wcsGetCoverage"
		class="org.vfny.geoserver.wcs.servlets.Coverage"
		parent="wcsService">
	</bean>
	
	<!-- wms service + descriptor -->
 	<bean id="wcsService2" class="org.geoserver.wcs.DefaultWebCoverageService">
 	  <constructor-arg ref="geoServer"/>
 	</bean>
 	<bean id="wcsServiceDescriptor" class="org.geoserver.platform.Service">
		<constructor-arg index="0" value="wcs"/>
		<constructor-arg index="1" ref="wcsService2"/>
		<constructor-arg index="2" value="1.0.0"/>
		<constructor-arg index="3">
          <list>
            <value>GetCapabilities</value>
            <value>DescribeCoverage</value>
            <value>GetCoverage</value>
          </list>
        </constructor-arg>
 	</bean>
 	<!-- service exception handler -->
	<bean id="wcsExceptionHandler" class="org.geoserver.ows.LegacyServiceExceptionHandler">
		<constructor-arg ref="wcsServiceDescriptor"/>
        <constructor-arg ref="geoServer"/>
		<property name="contentType" value="application/vnd.ogc.se_xml"/>
		<property name="schemaLocation" value="wcs/1.0.0/OGC-exception.xsd"/>
	</bean>
 	
 	<!-- kvp request readers -->
 	<bean id="wcsGetCapabilitiesKvpReader" 
 		class="org.geoserver.wcs.kvp.WCSKvpRequestReaderAdapter">
		<constructor-arg index="0" value="org.vfny.geoserver.wcs.requests.WCSCapabilitiesRequest" />
      	<constructor-arg index="1" value="org.vfny.geoserver.wcs.requests.readers.CapabilitiesKvpReader" />
      	<constructor-arg index="2" ref="geoServer" />
	</bean>

	<bean id="describeCoverageKvpReader"
		class="org.geoserver.wcs.kvp.WCSKvpRequestReaderAdapter">
		<constructor-arg index="0" value="org.vfny.geoserver.wcs.requests.DescribeRequest" />
      	<constructor-arg index="1" value="org.vfny.geoserver.wcs.requests.readers.DescribeKvpReader" />
      	<constructor-arg index="2" ref="geoServer" />
	</bean>
	
	<bean id="getCoverageKvpReader"
		class="org.geoserver.wcs.kvp.WCSKvpRequestReaderAdapter">
		<constructor-arg index="0" value="org.vfny.geoserver.wcs.requests.CoverageRequest" />
      	<constructor-arg index="1" value="org.vfny.geoserver.wcs.requests.readers.GetCoverageKvpReader" />
      	<constructor-arg index="2" ref="geoServer" />
	</bean>
	
	<!--  xml request readers -->
	<bean id="wcsXmlReader" class="org.geoserver.wcs.xml.WCSXmlRequestReaderAdapter"
		abstract="true">
		<constructor-arg index="0" value="http://www.opengis.net/wcs"/>
		<constructor-arg index="2" ref="geoServer" />
	</bean>
	
	<bean id="wcsGetCapabilitiesXmlReader" parent="wcsXmlReader">
		<constructor-arg index="1" value="GetCapabilities"/>
		<constructor-arg index="3" 
			value="org.vfny.geoserver.wcs.requests.readers.CapabilitiesXmlReader"/>
	</bean>
	
	<bean id="describeCoverageXmlReader" parent="wcsXmlReader">
		<constructor-arg index="1" value="DescribeCoverage"/>
		<constructor-arg index="3" 
			value="org.vfny.geoserver.wcs.requests.readers.DescribeXmlReader"/>
	</bean>
	
	<bean id="getCoverageXmlReader" parent="wcsXmlReader">
		<constructor-arg index="1" value="GetCoverage"/>
		<constructor-arg index="3" 
			value="org.vfny.geoserver.wcs.requests.readers.GetCoverageXmlReader"/>
	</bean>
	
	<!--  responses -->
	<bean id="wcsGetCapabilitiesResponse"
		class="org.geoserver.ows.adapters.ResponseAdapter">
		<constructor-arg value="org.vfny.geoserver.wcs.responses.WCSCapabilitiesResponse"/>
		<constructor-arg ref="geoServer"/>
	</bean>
	<bean id="describeCoverageResponse"
		class="org.geoserver.ows.adapters.ResponseAdapter">
		<constructor-arg value="org.vfny.geoserver.wcs.responses.DescribeResponse"/>
		<constructor-arg ref="geoServer"/>
	</bean>
	<bean id="getCoverageResponse"
		class="org.geoserver.ows.adapters.ResponseAdapter">
		<constructor-arg value="org.vfny.geoserver.wcs.responses.CoverageResponse"/>
		<constructor-arg ref="geoServer"/>
	</bean>
	
	
	<!-- http url mapping -->
	<bean id="wcsURLMapping" 
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="alwaysUseFullPath" value="true"/>
		<property name="mappings">
			<props>
				<prop key="/wcs">dispatcher</prop>
				<prop key="/wcs/**">dispatcher</prop>
			</props>
		</property>
	</bean>
	
</beans>