<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="dispatcher" class="org.geoserver.ows.http.Dispatcher"/>
	
	<bean id="messageKvpParser" class="org.geoserver.ows.http.MessageKvpParser"/>
	
	<bean id="messageXmlParser" 
		class="org.geoserver.ows.http.MessageXmlParser"/>
	
	<bean id="messageResponse"
		class="org.geoserver.ows.http.MessageResponse"/>
		
	
	<bean id="helloWorld"
		class="org.geoserver.ows.http.HelloWorld"/>
		
	<bean id="helloWorldService"
		class="org.geoserver.ows.http.Service">
		<constructor-arg index="0" value="hello"/>
		<constructor-arg index="1" ref="helloWorld"/>
	</bean>
	<bean id="helloWorldOperation" 
		class="org.geoserver.ows.http.Operation">
		<constructor-arg index="0" value="hello"/>
		<constructor-arg index="1" ref="helloWorldService"/>
		<constructor-arg index="2" ref="helloWorld"/>
	</bean>

</beans>