<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="RestConfigDBMapping" class="org.geoserver.rest.RESTMapping">
	<property name="routes">
      <map>

        <entry>
          <key><value>/EoMet/geophysicalparams/{parameter}/gridcoverages.{type}</value></key>
          <value>geophysicalParamGridCoveragesListFinder</value>
        </entry>
        <entry>
          <key><value>/EoMet/geophysicalparams/{parameter}/gridcoverages</value></key>
          <value>geophysicalParamGridCoveragesListFinder</value>
        </entry>
        <entry>
          <key><value>/EoMet/geophysicalparams/{parameter}/models.{type}</value></key>
          <value>geophysicalParamModelsListFinder</value>
        </entry>
        <entry>
          <key><value>/EoMet/geophysicalparams/{parameter}/models</value></key>
          <value>geophysicalParamModelsListFinder</value>
        </entry>
        <entry>
          <key><value>/EoMet/geophysicalparams/{parameter}.{type}</value></key>
          <value>geophysicalParamResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/geophysicalparams/{parameter}</value></key>
          <value>geophysicalParamResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/geophysicalparams.{type}</value></key>
          <value>geophysicalParamsListFinder</value>
        </entry>
        <entry>
          <key><value>/EoMet/geophysicalparams</value></key>
          <value>geophysicalParamsListFinder</value>
        </entry>
		<entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}/variables/{variable}/axis/{axis}.{type}</value></key>
          <value>modelGridCoverageVariableAxisResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}/variables/{variable}/axis/{axis}</value></key>
          <value>modelGridCoverageVariableAxisResource</value>
        </entry>
		<entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}/variables/{variable}/sampledim/{sd}.{type}</value></key>
          <value>modelGridCoverageVariableSampleDimResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}/variables/{variable}/sampledim/{sd}</value></key>
          <value>modelGridCoverageVariableSampleDimResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}/variables/{variable}.{type}</value></key>
          <value>modelGridCoverageVariableResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}/variables/{variable}</value></key>
          <value>modelGridCoverageVariableResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}/variables.{type}</value></key>
          <value>modelRunGridCoverageVariablesListFinder</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}/variables</value></key>
          <value>modelRunGridCoverageVariablesListFinder</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}/tdomain.{type}</value></key>
          <value>modelGridCoverageTDomainResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}/tdomain</value></key>
          <value>modelGridCoverageTDomainResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}/vdomain.{type}</value></key>
          <value>modelGridCoverageVDomainResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}/vdomain</value></key>
          <value>modelGridCoverageVDomainResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}.{type}</value></key>
          <value>modelGridCoverageResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages/{gridcoverage}</value></key>
          <value>modelGridCoverageResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages.{type}</value></key>
          <value>modelRunGridCoveragesListFinder</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}/gridcoverages</value></key>
          <value>modelRunGridCoveragesListFinder</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}.{type}</value></key>
          <value>modelRunInfoResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs/{run}</value></key>
          <value>modelRunInfoResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs.{type}</value></key>
          <value>modelRunsListFinder</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}/runs</value></key>
          <value>modelRunsListFinder</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}.{type}</value></key>
          <value>modelInfoResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models/{model}</value></key>
          <value>modelInfoResource</value>
        </entry>
        <entry>
          <key><value>/EoMet/models.{type}</value></key>
          <value>modelsListFinder</value>
        </entry>
        <entry>
          <key><value>/EoMet/models</value></key>
          <value>modelsListFinder</value>
        </entry>
      </map>
    </property>
  </bean>

  <bean id="modelsListFinder"
    class="org.geoserver.restconfig.db.ModelListFinder">
    <property name="geoServer"><ref bean="geoServer2"/></property>
    <property name="catalog"><ref bean="rawCatalog"/></property>
  </bean>
  <bean id="modelRunsListFinder"
    class="org.geoserver.restconfig.db.ModelRunListFinder">
    <property name="geoServer"><ref bean="geoServer2"/></property>
    <property name="catalog"><ref bean="rawCatalog"/></property>
  </bean>
  <bean id="modelRunGridCoveragesListFinder"
    class="org.geoserver.restconfig.db.ModelRunGridCoverageListFinder">
    <property name="geoServer"><ref bean="geoServer2"/></property>
    <property name="catalog"><ref bean="rawCatalog"/></property>
  </bean>
  <bean id="modelRunGridCoverageVariablesListFinder"
    class="org.geoserver.restconfig.db.ModelRunGridCoverageVariableListFinder">
    <property name="geoServer"><ref bean="geoServer2"/></property>
    <property name="catalog"><ref bean="rawCatalog"/></property>
  </bean>
  <bean id="geophysicalParamsListFinder"
    class="org.geoserver.restconfig.db.GeophysicalParamsListFinder">
    <property name="geoServer"><ref bean="geoServer2"/></property>
    <property name="catalog"><ref bean="rawCatalog"/></property>
  </bean>
  <bean id="geophysicalParamModelsListFinder"
    class="org.geoserver.restconfig.db.GeophysicalParamModelsListFinder">
    <property name="geoServer"><ref bean="geoServer2"/></property>
    <property name="catalog"><ref bean="rawCatalog"/></property>
  </bean>
  <bean id="geophysicalParamGridCoveragesListFinder"
    class="org.geoserver.restconfig.db.GeophysicalParamGridCoveragesListFinder">
    <property name="geoServer"><ref bean="geoServer2"/></property>
    <property name="catalog"><ref bean="rawCatalog"/></property>
  </bean>

  <bean id="modelInfoResource"
    class="org.geoserver.restconfig.db.ModelResource">
    <constructor-arg index="0"><ref bean="geoServer2"/></constructor-arg>
    <constructor-arg index="1"><ref bean="rawCatalog"/></constructor-arg>
  </bean>
  <bean id="modelRunInfoResource"
    class="org.geoserver.restconfig.db.ModelRunResource">
    <constructor-arg index="0"><ref bean="geoServer2"/></constructor-arg>
    <constructor-arg index="1"><ref bean="rawCatalog"/></constructor-arg>
  </bean>
  <bean id="modelGridCoverageResource"
    class="org.geoserver.restconfig.db.ModelGridCoverageResource">
    <constructor-arg index="0"><ref bean="geoServer2"/></constructor-arg>
    <constructor-arg index="1"><ref bean="rawCatalog"/></constructor-arg>
  </bean>
  <bean id="modelGridCoverageVDomainResource"
    class="org.geoserver.restconfig.db.ModelGridCoverageVerticalDomainResource">
    <constructor-arg index="0"><ref bean="geoServer2"/></constructor-arg>
    <constructor-arg index="1"><ref bean="rawCatalog"/></constructor-arg>
  </bean>
  <bean id="modelGridCoverageTDomainResource"
    class="org.geoserver.restconfig.db.ModelGridCoverageTemporalDomainResource">
    <constructor-arg index="0"><ref bean="geoServer2"/></constructor-arg>
    <constructor-arg index="1"><ref bean="rawCatalog"/></constructor-arg>
  </bean>
  <bean id="modelGridCoverageVariableResource"
    class="org.geoserver.restconfig.db.ModelGridCoverageVariableResource">
    <constructor-arg index="0"><ref bean="geoServer2"/></constructor-arg>
    <constructor-arg index="1"><ref bean="rawCatalog"/></constructor-arg>
  </bean>
  <bean id="modelGridCoverageVariableAxisResource"
    class="org.geoserver.restconfig.db.ModelGridCoverageVariableAxisResource">
    <constructor-arg index="0"><ref bean="geoServer2"/></constructor-arg>
    <constructor-arg index="1"><ref bean="rawCatalog"/></constructor-arg>
  </bean>
  <bean id="modelGridCoverageVariableSampleDimResource"
    class="org.geoserver.restconfig.db.ModelGridCoverageVariableSampleDimResource">
    <constructor-arg index="0"><ref bean="geoServer2"/></constructor-arg>
    <constructor-arg index="1"><ref bean="rawCatalog"/></constructor-arg>
  </bean>
  <bean id="geophysicalParamResource"
    class="org.geoserver.restconfig.db.GeophysicalParamResource">
    <constructor-arg index="0"><ref bean="geoServer2"/></constructor-arg>
    <constructor-arg index="1"><ref bean="rawCatalog"/></constructor-arg>
  </bean>
  
</beans>
