<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="referenceTemplate" xmlns="http://mapbuilder.sourceforge.net/mapbuilder" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder ../../lib/schemas/config.xsd">
	<!--
    Description: This configuration file determines what components from the
                 Mapbuilder library are to be included in a Main Mapbuilder web
                 page.
    Licence:     LGPL as per: http://www.gnu.org/copyleft/lesser.html 

    $Id$
  -->
	<!--
    All static images should be relative to this URL.
    This dir is relative the dir of the main html file.
  -->
	<models>
		<Context id="mainMap">
			<defaultModelUrl>context.xml</defaultModelUrl>
			<widgets>
				<Widget id="mapTitle">
					<stylesheet>../../lib/widget/MapTitle.xsl</stylesheet>
				</Widget>
				<MapPane id="mainMapWidget">
					<htmlTagId>mainMapPane</htmlTagId>
					<mapContainerId>mainMapContainer</mapContainerId>
				</MapPane>
				<AoiBoxWZ id="aoiBox2">
					<htmlTagId>mainMapPane</htmlTagId>
					<stylesheet>../../lib/widget/GmlRenderer.xsl</stylesheet>
					<mapContainerId>mainMapContainer</mapContainerId>
					<lineColor>#FF0000</lineColor>
					<lineWidth>1</lineWidth>
					<crossSize>15</crossSize>
				</AoiBoxWZ>
				<CursorTrack id="cursorTrack">
					<mouseHandler>mainMap</mouseHandler>
				</CursorTrack>
				<Legend id="legend">
        </Legend>
			</widgets>
			<tools>
				<AoiMouseHandler id="mainAoi"/>
				<DragPanHandler id="mainDragPan">
					<enabled>false</enabled>
				</DragPanHandler>
				<MouseClickHandler id="mainMouseClick"/>
			</tools>
		</Context>
		<Context id="locator">
			<defaultModelUrl>../data/context/locatorMap.xml</defaultModelUrl>
			<widgets>
				<MapPane id="locatorWidget">
					<htmlTagId>locatorMap</htmlTagId>
					<targetModel>mainMap</targetModel>
					<mapContainerId>locatorContainer</mapContainerId>
					<fixedWidth>180</fixedWidth>
				</MapPane>
				<AoiBoxWZ id="aoiBox3">
					<htmlTagId>locatorMap</htmlTagId>
					<stylesheet>../../lib/widget/GmlRenderer.xsl</stylesheet>
					<mapContainerId>locatorContainer</mapContainerId>
					<lineColor>#FF0000</lineColor>
					<lineWidth>1</lineWidth>
					<crossSize>15</crossSize>
				</AoiBoxWZ>
			</widgets>
			<tools>
				<AoiMouseHandler id="locatorAoi"/>
				<ZoomToAoi id="locatorZoomToAoi">
					<targetModel>mainMap</targetModel>
				</ZoomToAoi>
			</tools>
		</Context>
		<Transaction id="transaction">
			<widgets>
				<TransactionResponse id="transactionResponse">
        </TransactionResponse>
			</widgets>
		</Transaction>
	</models>
	<widgets>
		<ZoomIn id="zoomIn">
			<buttonBar>mainButtonBar</buttonBar>
			<targetModel>mainMap</targetModel>
			<mouseHandler>mainAoi</mouseHandler>
			<class>RadioButton</class>
			<selected>true</selected>
			<enabledSrc>/images/ZoomInEnable.png</enabledSrc>
			<disabledSrc>/images/ZoomInDisable.png</disabledSrc>
		</ZoomIn>
		<ZoomOut id="zoomOut">
			<buttonBar>mainButtonBar</buttonBar>
			<targetModel>mainMap</targetModel>
			<mouseHandler>mainAoi</mouseHandler>
			<class>RadioButton</class>
			<enabledSrc>/images/ZoomOutEnable.png</enabledSrc>
			<disabledSrc>/images/ZoomOutDisable.png</disabledSrc>
		</ZoomOut>
		<DragPan id="dragPan">
			<buttonBar>mainButtonBar</buttonBar>
			<targetModel>mainMap</targetModel>
			<mouseHandler>mainDragPan</mouseHandler>
			<class>RadioButton</class>
			<enabledSrc>/images/PanEnable.png</enabledSrc>
			<disabledSrc>/images/PanDisable.png</disabledSrc>
		</DragPan>
		<Reset id="reset">
			<buttonBar>mainButtonBar</buttonBar>
			<targetModel>mainMap</targetModel>
			<class>Button</class>
			<disabledSrc>/images/ResetExtentDisable.png</disabledSrc>
		</Reset>
	</widgets>
	<skinDir>../../lib/skin/default</skinDir>
	<widgetTextUrl>/widgetText.xml</widgetTextUrl>
	<!-- relative to the skin dir -->
	<!-- Url of LOCAL redirection script, required to access external URLs -->
</MapbuilderConfig>
