<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    
    <!-- pooling -->
    <property name="cp30.min_size">5</property>
    <property name="cp30.max_size">30</property>
    <property name="cp30.timeout">1800</property>
    <property name="cp30.max_statements">50</property>

    <!-- caching 
    <property name="hibernate.cache.use_query_cache">true</property>
    <property name="hibernate.cache.use_second_level_cache">true</property>
    <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
    <property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property>
    -->
    
    <!-- Enable Hibernate's automatic session context management -->
    <property name="hibernate.current_session_context_class">thread</property>

    <!-- Enable Hibernate statistics generation 
    <property name="hibernate.generate_statistics">true</property>    
    <property name="hibernate.cache.use_structured_entries">false</property>-->

    <!-- Cache Configurations -->
    <!-- Using net.sf.ehcache.hibernate.SingletonEhCacheProvider instead of
         net.sf.ehcache.hibernate.EhCacheProvider ensures the same instance
         of CacheManager is referred to by both Hibernate and our JMX Agent
         simpleJpaHibernateApp.agents.jmxAgent. (Thanks to Greg Luck!) 
    <property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</property>
    <property name="hibernate.cache.provider_configuration">ehcache.xml</property>
    <property name="hibernate.cache.use_minimal_puts">false</property>
    <property name="hibernate.cache.use_query_cache">true</property>
    <property name="hibernate.cache.use_second_level_cache">true</property>
    <property name="hibernate.cache.use_structured_entries">true</property>

    <property name="hibernate.bytecode.use_reflection_optimizer">true</property> -->
  </session-factory>
</hibernate-configuration>
