<html xmlns:wicket="http://wicket.apache.org/">
<head></head>
<body>
<wicket:panel>
	<table style="width: 6em;">
    <tr>
      <td align="center"><input type="text" class="text" wicket:id="language" maxlength="2" size="2" style="width: 3em;"></input></td>
      <td align="center"><input type="text" class="text" wicket:id="country" maxlength="2" size="2" style="width: 3em;"></input></td>
      <td align="center"><input type="text" class="text" wicket:id="variant" maxlength="2" size="2" style="width: 3em;"></input></td>
    </tr>
    <tr>
      <td style="text-align: center;"><wicket:message key="NewTranslationPage.language"/></td>
      <td style="text-align: center;"><wicket:message key="NewTranslationPage.country"/></td>
      <td style="text-align: center;"><wicket:message key="NewTranslationPage.variant"/></td>
    </tr>
	</table>
</wicket:panel>
</body>
</html>
