<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

<bean id="restconfigwrapper" class="org.geoserver.restconfig.WrappingController"/>


<bean id="restConfigDispatcherMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
<property name="alwaysUseFullPath" value="true"/>
<property name="mappings">
	<props>
		<prop key="/api">restconfigwrapper</prop>
		<prop key="/api/**">restconfigwrapper</prop>
	</props>
</property>

</bean>

</beans>
