<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"> 

<beans>
    <bean id="CSVOutputFormat" 
        class="org.geoserver.CSVOutputFormat" singleton="false">
    </bean>
    <bean id="ExcelOutputFormat" 
	class="org.geoserver.ExcelOutputFormat" singleton="false">
    </bean>
</beans>