<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>FreefsLog</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.FreefsLog</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>GetCapabilities</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.Capabilities</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>GetFeature</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.Feature</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestAuthentication</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.TestAuthentication</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.Dispatcher</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DescribeFeatureType</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.Describe</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.Transaction</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LockFeature</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.Lock</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>GetFeatureWithLock</servlet-name>
    <servlet-class>org.vfny.geoserver.servlets.FeatureWithLock</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FreefsLog</servlet-name>
    <url-pattern>/FreefsLog</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GetCapabilities</servlet-name>
    <url-pattern>/GetCapabilities/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DescribeFeatureType</servlet-name>
    <url-pattern>/DescribeFeatureType/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GetFeature</servlet-name>
    <url-pattern>/GetFeature/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TestAuthentication</servlet-name>
    <url-pattern>/TestAuthenticationDontUse</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/Dispatcher/*</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/wfs*</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/Transaction/*</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>LockFeature</servlet-name>
    <url-pattern>/LockFeature/*</url-pattern>
  </servlet-mapping>

   <servlet-mapping>
    <servlet-name>GetFeatureWithLock</servlet-name>
    <url-pattern>/GetFeatureWithLock/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list><welcome-file>default.jsp</welcome-file></welcome-file-list>

</web-app>
