<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="ftpServerManager" class="org.geoserver.ftp.FTPServerManager">
    <constructor-arg ref="gsFtpUserManager"/>
  </bean>
  
  <bean id="gsFtpUserManager" class="org.geoserver.ftp.GSFTPUserManager" depends-on="geoServer">
    <constructor-arg ref="userDetailsService" index="0"/>
    <constructor-arg ref="dataDirectory" index="1"/>
  </bean>

</beans>
