<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="wfs" class="org.geoserver.wfs.WFS">
      <constructor-arg ref="geoServer"/>
    </bean>

	<!--  ui stuff  -->
	<bean id="wfsConfig"
		class="org.vfny.geoserver.config.WFSConfig">
		<constructor-arg ref="wfs"/>
	</bean>
	
	<!-- this registers the above modules with the servlet context
		 it is around to keep the struts app happy as we move away from 
		 servlets  -->
	<bean id="wfsRegisterar"
		class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
		<constructor-arg type="java.lang.String" value="WFS"/>
 		<constructor-arg ref="wfs"/>
 	</bean>
	<bean id="wfsConfigRegisterar"
		class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
		<constructor-arg type="java.lang.String" value="Config.WFS"/>
 		<constructor-arg ref="wfsConfig"/>
 	</bean>
</beans>