<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="uploadRestletMapping" class="org.geoserver.rest.RESTMapping">
  <property name="routes">
    <map>
      <entry>
        <key><value>/images</value></key>
        <value>imageUploader</value>
      </entry>
      <entry>
        <key><value>/images/{file}</value></key>
        <value>imageUploader</value>
      </entry>
      <entry>
        <key><value>/json</value></key>
        <value>jsonUploader</value>
      </entry>
      <entry>
        <key><value>/json/{file}</value></key>
        <value>jsonUploader</value>
      </entry>
    </map>
  </property>
  </bean>

  <bean id="imageUploader" class="org.geoserver.rest.upload.UploadRestlet">
  <property name="rootPath"><value>images</value></property>
  <property name="uploadFilter">
      <bean class="org.geoserver.rest.upload.MimeFilter">
          <property name="mimePattern">
              <value>image/.*</value>
          </property>
      </bean>
  </property> 
  <property name="fileStorage">
      <bean class="org.geoserver.rest.upload.ThumbnailStorage"/>
  </property>
  </bean>

  <bean id="jsonUploader" class="org.geoserver.rest.upload.UploadRestlet">
  <property name="rootPath"><value>json</value></property>
  <property name="uploadFilter">
      <bean class="org.geoserver.rest.upload.JSONFilter"/>
  </property> 
  <property name="fileStorage">
      <bean class="org.geoserver.rest.upload.FlatFileStorage"/>
  </property>
  </bean>

</beans>
