<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="wpsServiceLoader" class="org.geoserver.wps.WPSXStreamLoader">
        <constructor-arg ref="resourceLoader"/>
    </bean>

    <!-- TODO: remove this thing -->    
    <bean id="wpsServiceLegacyLoader" class="org.geoserver.wps.WPSLegacyLoader"/>

    <!-- WPS Service -->
    

    <bean id="wpsService" class="org.geoserver.wps.DefaultWebProcessingService">
        <constructor-arg ref="geoServer" />
    </bean>

    <!-- Service Descriptor(s) -->
    <bean id="wpsService-1.0.0" 
        class="org.geoserver.platform.Service">
        <constructor-arg index="0" value="wps" />
        <constructor-arg index="1" ref="wpsService" />
        <constructor-arg index="2" value="1.0.0" />
        <constructor-arg index="3">
		  <list>
		    <value>GetCapabilities</value>
		    <value>DescribeProcess</value>
		    <value>Execute</value>
		  </list>
		</constructor-arg>
    </bean>

    <!-- KVP Parsers -->
    <!-- KVP Request Readers -->
    <bean id="wpsGetCapabilitiesKvpReader"
        class="org.geoserver.wps.kvp.GetCapabilitiesKvpRequestReader" />
    <bean id="wpsDescribeProcessKvpReader"
        class="org.geoserver.wps.kvp.DescribeProcessKvpRequestReader" />
    <bean id="wpsIdentifierKvpParser"
        class="org.geoserver.wps.kvp.IdentifierKvpParser" />

    <!-- XML Configuration -->
    <bean id="wpsXmlConfiguration-1.0.0"
        class="org.geoserver.wps.xml.WPSConfiguration" >
    </bean>

    <!-- XML Readers -->
    <bean id="wpsXmlReader-1.0.0"
        class="org.geoserver.wps.xml.v1_0_0.WpsXmlReader" abstract="true">
        <constructor-arg ref="wps" />
        <constructor-arg ref="wpsXmlConfiguration-1.0.0" />
    </bean>
    <bean id="wpsGetCapabilitiesXmlReader-1.0.0"
        class="org.geoserver.wps.xml.v1_0_0.WpsXmlReader">
        <constructor-arg index="0" value="GetCapabilities" />
        <constructor-arg index="1" value="1.0.0" />
        <constructor-arg index="2" ref="wpsXmlConfiguration-1.0.0" />
    </bean>
    <bean id="wpsDescribeProcessXmlReader-1.0.0"
        class="org.geoserver.wps.xml.v1_0_0.WpsXmlReader">
        <constructor-arg index="0" value="DescribeProcess" />
        <constructor-arg index="1" value="1.0.0" />
        <constructor-arg index="2" ref="wpsXmlConfiguration-1.0.0" />
    </bean>
    <bean id="wpsExecuteXmlReader-1.0.0"
        class="org.geoserver.wps.xml.v1_0_0.WpsXmlReader">
        <constructor-arg index="0" value="Execute" />
        <constructor-arg index="1" value="1.0.0" />
        <constructor-arg index="2" ref="wpsXmlConfiguration-1.0.0" />
    </bean>
 

    <!-- HTTP URL Mapping -->
    <bean id="wpsURLMapping"
        class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="alwaysUseFullPath" value="true" />
        <property name="mappings">
            <props>
                <prop key="/wps">dispatcher</prop>
                <prop key="/wps/*">dispatcher</prop>
            </props>
        </property>
    </bean>
    
    <!-- responses -->
    <bean id="wpsCapabilitiesResponse" class="org.geoserver.ows.XmlObjectEncodingResponse">
      <constructor-arg index="0" value="net.opengis.wps10.WPSCapabilitiesType"/>
      <constructor-arg index="1" value="Capabilities"/>
      <constructor-arg index="2" value="org.geoserver.wps.xml.WPSConfiguration"/> 
    </bean>
    <bean id="wpsDescribeProcessResponse" class="org.geoserver.ows.XmlObjectEncodingResponse">
      <constructor-arg index="0" value="net.opengis.wps10.ProcessDescriptionsType"/>
      <constructor-arg index="1" value="ProcessDescriptions"/>
      <constructor-arg index="2" value="org.geoserver.wps.xml.WPSConfiguration"/> 
    </bean>
    <bean id="wpsExecuteResponse" class="org.geoserver.wps.response.ExecuteProcessResponse">
      <constructor-arg index="0" value="net.opengis.wps10.ExecuteResponseType"/>
      <constructor-arg index="1" value="ExecuteResponse"/>
      <constructor-arg index="2" value="org.geoserver.wps.xml.WPSConfiguration"/>
    </bean>
    
    <!-- Exception handler, we need to output ows 1.1 exceptions -->
    <bean id="wpsExceptionHandler" class="org.geoserver.ows.OWS11ServiceExceptionHandler">
      <constructor-arg index="0">
        <list>
          <ref local="wpsService-1.0.0" />
        </list>
      </constructor-arg>
    </bean>
    
    <!-- Resource manager -->
    <bean id="wpsResourceManager" class="org.geoserver.wps.resource.WPSResourceManager"/>
    
    <!-- The PPIO that need to be registered into SPI because of their dependencies -->
    <bean id="shapeZipPPIO" class="org.geoserver.wps.ppio.ShapeZipPPIO">
      <constructor-arg ref="wpsResourceManager"/>
    </bean>
    
    <!-- USER INTERFACE SECTION, TO BE MOVED INTO ITS OWN MODULE -->
    <bean id="wpsRequestBuilder" class="org.geoserver.web.DemoLinkInfo">
      <property name="id" value="wpsRequestBuilder" />
      <property name="titleKey" value="WPSRequestBuilder.title" />
      <property name="descriptionKey" value="WPSRequestBuilder.shortDescription" />
      <property name="componentClass" value="org.geoserver.web.wps.WPSRequestBuilder" />
    </bean>
    
    
</beans>