<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!--  
      Main-Legacy resources
     -->
    
    <bean id="config"
        class="org.vfny.geoserver.global.Config">
        <property name="configuration" ref="geoServer"/>
    </bean>
            
    <!-- geoserver module -->
    <bean id="geoServer-legacy"
        class="org.vfny.geoserver.global.GeoServer">
        <!--constructor-arg ref="config"/-->
        <constructor-arg ref="geoServer"/>
    </bean>
    <bean id="globalConfig"
        class="org.vfny.geoserver.config.GlobalConfig">
        <constructor-arg ref="geoServer-legacy"/>
    </bean> 
    
    <!-- the old catalog -->
    <bean id="data"
        class="org.vfny.geoserver.global.Data">
        <constructor-arg ref="geoServer"/>
    </bean>
    <!-- the old catalog, in insecure version, needed by some configuration classes -->
    <bean id="rawData"
        class="org.vfny.geoserver.global.Data">
        <constructor-arg ref="geoServer"/>
        <constructor-arg ref="rawCatalog"/>
    </bean>
    <!-- alias name="data" alias="catalog"/-->
    
    <bean id="dataConfig"
        class="org.vfny.geoserver.config.DataConfig">
        <constructor-arg ref="rawData"/>
    </bean> 

    <!-- this registers the above modules with the servlet context
         it is around to keep the struts app happy as we move away from 
         servlets  -->
    <bean id="dataRegisterar"
        class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
        
        <constructor-arg type="java.lang.String" value="DATA"/>
        <constructor-arg ref="data"/>
    </bean>
    <bean id="dataConfigRegisterar"
        class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
        
        <constructor-arg type="java.lang.String" value="Config.Data"/>
        <constructor-arg ref="dataConfig"/>
    </bean>
    <bean id="globalConfigRegisterar"
        class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
        
        <constructor-arg type="java.lang.String" value="Config.Global"/>
        <constructor-arg ref="globalConfig"/>
    </bean>
    
    <bean id="geoServerRegisterar"
        class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
        
        <constructor-arg type="java.lang.String" value="GeoServer"/>
        <constructor-arg ref="geoServer-legacy"/>
    </bean>
</beans>
