<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.opengis.net/ows/1.1" 
       class = "net.opengis.ows._1.v1_1Package"
       genModel = "ows.genmodel" /> 
  </extension>

</plugin>
