#container {
  width:100%;
  margin: 0;
  padding: 0;
  background:#F9F9F9 url(../img/globalbg.gif) repeat-y -100px;  
}
#global, 
#page {
  padding: 20px;
}

#global {
  position: fixed;
  float: left;
  width: 200px;
}

#page {
  margin-left: 240px;
}

/* Global Pane */

#global h1 {
  font-size: 2em;
}

ul#navigation {
  margin-left: 0;
  margin-right: 0;
  list-style-type: none;
}

ul#navigation a {
  text-decoration: none;
}

ul#navigation a:hover {
  text-decoration: underline;
}

.navigation-tab {
  margin-bottom: 8px;
}

.navigation-tab-single,
.navigation-tab-header,
.navigation-tab-content {
  padding: 5px;
  border: 1px solid #D0D0D0;
}

.navigation-tab-single,
.navigation-tab-header {
  font-weight: bold;
  background: transparent url(../img/ext/panel/white-top-bottom.gif) repeat-x 0 -1px;
}

.navigation-tab-content {
  border-top: none;
  background: #F9F9F9;
}

.navigation-tab-single a,
.navigation-tab-header a,
.navigation-tab-content a {
  display: block;
  width: 100%;
  color: #333333;
}

.buttons {
    clear:both;
    margin-top:10px;
}

li.nav-administer-service {
  clear: left;
}

li.nav-administer-service img {
  float: left;
  margin-right: 0.5em;
  height: 16px;
  width: 16px;
}

/* Page */

.page-header {
  margin-bottom: 0.75em;
}

.page-header h2 {
  margin-bottom: 0;
}

.page-pane {
}

.page-pane-content {
  padding: 10px;
  margin-bottom: 10px;
  overflow: auto;
  border: 1px solid #ccc;
}

.buttons input {
    font-size:120%;
    margin-right:5px;
}

/* Universal styles */

ul.plain {
  margin-left: 0;
  margin-right: 0;
  list-style-type: none;
}

/** Data page styles */
span.command {
  margin-left: 2px;
  font-style: italic;
}

span.unconfiguredLayer {
  font-style: italic;
}

/* forms */
form li {
    width:62%;
    display:block;
    clear:both;
    margin:0pt;
    padding:4px 5px 2px 9px;
    position:relative;
}

form li, .buttons {
    display:block;
}

form ul {
    list-style-type:none;
}

label {
    border:medium none;
    color:#222222;
    display:block;
    font-size:95%;
    font-weight:bold;
    line-height:150%;
    padding:0pt 0pt 1px;
}

label.choice {
    color:#222222;
    display:block;
    font-weight: normal;
    font-size:100%;
    line-height:1.5em;
    margin:-1.65em 0pt 0pt 25px;
    padding:0.44em 0pt 0.5em;
    width:90%;
}
label.choice {
    color:#222222;
    display:block;
    font-size:100%;
    line-height:1.5em;
    margin:-1.65em 0pt 0pt 25px;
    padding:0.44em 0pt 0.5em;
    width:90%;
}

textarea.medium {
    height:10em;
}

textarea.textarea {
    font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
}

input.large, select.large, textarea.textarea {
    width:100%;
}

input.text, input.file {
    padding:2px 0pt;
}

input.text, textarea.textarea, .firefox select.select {
    background:#FFFFFF url(../img/fieldbg.gif) repeat-x scroll center top;
    border-color:#7C7C7C rgb(195, 195, 195) rgb(221, 221, 221);
    border-style:solid;
    border-width:1px;
    padding:0px;
    width: 300px;
}

textarea.textarea {
    height:150px;
}

input.text, input.file, textarea.textarea, select.select {
    color:#333333;
    font-size:100%;
    margin:0pt;
}

input.checkbox, input.radio {
    display:block;
    height:13px;
    line-height:1.5em;
    margin:0.6em 0pt 0pt 3px;
    width:13px;
}

input.btTxt 
    overflow:visible;
    padding:0pt 7px;
    width:auto;
}

/* Tree Table (for overriding the Wicket tree-table.css) */

div.wicket-tree-table span.b_ span.d_ {
  padding-top: 3px;
}

div.wicket-tree-table div.header {
  background: transparent url(../img/ext/panel/white-top-bottom.gif) repeat-x 0 -1px;
  border: 1px solid #D0D0D0;
  color: #333333;
}