<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="sldServiceRestConfigMapping"
    class="org.geoserver.rest.RESTMapping">
    <property name="routes">
      <map>
        <entry>
          <key><value>/sldservice/{featureType}/styles</value></key>
          <value>listUserStylesResource</value>
        </entry>
        <entry>
          <key><value>/sldservice/{featureType}/styles/{userStyleID}</value></key>
          <value>userStyleResource</value>
        </entry>
        <entry>
          <key><value>/sldservice/{featureType}/styles/{userStyleID}/{featureTypeID}</value></key>
          <value>featureTypeStyleResource</value>
        </entry>
        <entry>
          <key><value>/sldservice/{featureType}/styles/{userStyleID}/{featureTypeID}/{firstRuleId}</value></key>
          <value>rulesResource</value>
        </entry>
        <entry>
          <key><value>/sldservice/{featureType}/attributes</value></key>
          <value>listAttributesRestlet</value>
        </entry>
      </map>
    </property>
  </bean>

  <bean id="featureTypeStyleResource"
    class="org.geoserver.sldservice.resource.FeatureTypeStyleResource">
    <constructor-arg index="0" ref="catalog" />
  </bean>

  <bean id="listAttributesRestlet"
    class="org.geoserver.sldservice.resource.ListAttributes">
    <constructor-arg index="0" ref="catalog" />
  </bean>

  <bean id="listUserStylesResource"
    class="org.geoserver.sldservice.resource.ListUserStyles">
    <constructor-arg index="0" ref="catalog" />
  </bean>

  <bean id="rulesResource"
    class="org.geoserver.sldservice.resource.RulesResource">
    <constructor-arg index="0" ref="catalog" />
  </bean>

  <bean id="userStyleResource"
    class="org.geoserver.sldservice.resource.UserStyleResource">
    <constructor-arg index="0" ref="catalog" />
    <constructor-arg index="1" ref="dataConfig" />
  </bean>


</beans>
