<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="wcsServicePage" class="org.geoserver.web.services.ServicePageInfo">
    <property name="id" value="wcs"/>
    <property name="titleKey" value="wcs.title"/>
    <property name="descriptionKey" value="wcs.description"/>
    <property name="componentClass" value="org.geoserver.wcs.web.WCSAdminPage"/>
    <!--property name="icon" value="wcs_obj.gif"/-->
    <property name="icon" value="server_raster.png"/>
  </bean>
    
</beans>
