<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="wfsServicePage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="wfs"/>
    <property name="titleKey" value="wfs.title"/>
    <property name="descriptionKey" value="wfs.description"/>
    <property name="componentClass" value="org.geoserver.wfs.web.WFSAdminPage"/>
    <!--property name="icon" value="wfs_obj.gif"/-->
    <!--<property name="icon" value="server_vector.png"/>-->
    <property name="category" ref="servicesCategory"/>
  </bean>
    
  <bean id="wfsLayerConfig" class="org.geoserver.web.publish.LayerConfigurationPanelInfo">
    <property name="id" value="wfsLayerConfig"/>
    <property name="titleKey" value="data.resource.config.wfs"/>
    <property name="componentClass" value="org.geoserver.wfs.web.publish.WFSLayerConfig"/>
    <property name="supportedTypes">
      <list>
        <value>org.geoserver.catalog.FeatureTypeInfo</value>
      </list>
    </property>
  </bean>

  <bean id="namespaceManagerShortcut" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="namespaceManager"/>
    <property name="titleKey" value="data.namespace.manager.title"/>
    <property name="descriptionKey" value="data.namespace.manager.description"/>
    <property name="componentClass" value="org.geoserver.wfs.web.publish.NamespaceManagerPage"/>
    <property name="category" ref="dataCategory"/>
  </bean>

</beans>
