<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

<bean id="restConfigMapping" class="org.geoserver.rest.RESTMapping">
<property name="routes">
  <map>
        <entry>
          <!-- key><value>/datastores/{datastore}/featuretypes/{featuretype}.{type}</value></key -->
          <key><value>/folders/{datastore}/layers/{featuretype}.{type}</value></key>
          <value>featureTypeFinder</value>
        </entry>
        <!-- entry>
          <key><value>/datastores/{datastore}/featuretypes/{featuretype}</value></key>
          <value>featureTypeFinder</value>
        </entry -->
        <entry>
          <!-- key><value>/datastores/{datastore}/featuretypes.{type}</value></key -->
          <key><value>/folders/{datastore}/layers.{type}</value></key>
          <value>featureTypeListFinder</value>
        </entry>
        <!-- entry>
          <key><value>/datastores/{datastore}/featuretypes</value></key>
          <value>featureTypeListFinder</value>
        </entry -->
        <entry>
          <!-- key><value>/datastores/{datastore}.{type}</value></key -->
          <key><value>/folders/{datastore}.{type}</value></key>
          <value>datastoreFinder</value>
        </entry>
        <!-- entry>
          <key><value>/datastores/{datastore}</value></key>
          <value>datastoreFinder</value>
        </entry -->
        <entry>
          <key><value>/folders/{datastore}/file.{type}</value></key>
          <value>datastoreFileFinder</value>
        </entry>
        <entry>
          <!-- key><value>/datastores.{type}</value></key -->
          <key><value>/folders.{type}</value></key>
          <value>datastoreListFinder</value>
        </entry>
        <!-- entry>
          <key><value>/datastores</value></key>
          <value>datastoreListFinder</value>
        </entry -->
        <entry>
          <key><value>/styles/{style}.{type}</value></key>
          <value>styleFinder</value>
        </entry>
        <entry>
          <key><value>/styles/{style}</value></key>
          <value>styleFinder</value>
        </entry>
        <entry>
          <key><value>/styles.{type}</value></key>
          <value>styleListFinder</value>
        </entry>
        <entry>
          <key><value>/styles</value></key>
          <value>styleListFinder</value>
        </entry>
        <entry>
          <key><value>/coveragestores/{coveragestore}/coverages/{coverage}.{type}</value></key>
          <value>coverageFinder</value>
        </entry>
        <entry>
          <key><value>/coveragestores/{coveragestore}/coverages/{coverage}</value></key>
          <value>coverageFinder</value>
        </entry>
        <entry>
          <key><value>/coveragestores/{coveragestore}/coverages.{type}</value></key>
          <value>coverageListFinder</value>
        </entry>
        <entry>
          <key><value>/coveragestores/{coveragestore}/coverages</value></key>
          <value>coverageListFinder</value>
        </entry>
        <entry>
          <key><value>/coveragestores/{coveragestore}.{type}</value></key>
          <value>coverageStoreFinder</value>
        </entry>
        <entry>
          <key><value>/coveragestores/{coveragestore}</value></key>
          <value>coverageStoreFinder</value>
        </entry>
        <entry>
          <key><value>/coveragestores.{type}</value></key>
          <value>coverageStoreListFinder</value>
        </entry>
        <entry>
          <key><value>/coveragestores</value></key>
          <value>coverageStoreListFinder</value>
        </entry>
        <entry>
          <key><value>/coveragestores/{coveragestore}/{coverage}/file.{type}</value></key>
          <value>coveragestoreFileFinder</value>
        </entry>
        <entry>
          <key><value>/coveragestores/{coveragestore}/{coverage}/url.{type}</value></key>
          <value>coveragestoreURLFinder</value>
        </entry>
        <entry>
          <key><value>/layergroups/{group}.{type}</value></key>
          <value>layerGroupFinder</value>
        </entry>
        <entry>
          <key><value>/layergroups/{group}</value></key>
          <value>layerGroupFinder</value>
        </entry>
        <entry>
          <key><value>/layergroups.{type}</value></key>
          <value>layerGroupListFinder</value>
        </entry>
        <entry>
          <key><value>/layergroups</value></key>
          <value>layerGroupListFinder</value>
        </entry>
        <entry>
          <key><value>/projections/{projection}</value></key>
          <value>dummyRestlet</value>
        </entry>
        <entry>
          <key><value>/projections</value></key>
          <value>dummyRestlet</value>
        </entry>
        <entry>
          <key><value>/dummy.{type}</value></key>
          <value>dummyRestlet</value>
        </entry>
  </map>
</property>
</bean>
    <bean id="featureTypeFinder" class="org.geoserver.restconfig.FeatureTypeResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
      <property name="data"><ref bean="data"/></property>
    </bean>
<bean id="featureTypeListFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.FeatureTypeListResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
    </bean>
  </property>
</bean>
<bean id="datastoreFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.DataStoreResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
      <property name="data"><ref bean="data"/></property>
    </bean>
  </property>
</bean>
<bean id="datastoreFileFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.DataStoreFileResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
      <property name="data"><ref bean="data"/></property>
    </bean>
  </property>
</bean>
<bean id="datastoreListFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.DataStoreListResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
    </bean>
  </property>
</bean>
<bean id="coveragestoreFileFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.CoverageStoreFileResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
      <property name="data"><ref bean="data"/></property>
    </bean>
  </property>
</bean>
<bean id="coveragestoreURLFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.CoverageStoreURLResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
      <property name="data"><ref bean="data"/></property>
    </bean>
  </property>
</bean>
<bean id="styleFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.StyleResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
      <property name="data"> <ref bean="data"/> </property>
    </bean>
  </property>
</bean>
<bean id="styleListFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.StyleListResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
    </bean>
  </property>
</bean>
<bean id="coverageFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.CoverageResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
      <property name="data"><ref bean="data"/></property>
    </bean>
  </property>
</bean>
<bean id="coverageListFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.CoverageListResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
    </bean>
  </property>
</bean>
<bean id="coverageStoreFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.CoverageStoreResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
      <property name="data"> <ref bean="data"/></property>
    </bean>
  </property>
</bean>
<bean id="coverageStoreListFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.CoverageStoreListResource">
      <property name="dataConfig"><ref bean="dataConfig"/></property>
    </bean>
  </property>
</bean> 
<bean id="layerGroupFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.LayerGroupResource">
      <property name="WMSConfig"><ref bean="wmsConfig"/></property>
      <property name="WMS"><ref bean="wms"/></property>
      <property name="WFS"><ref bean="wfs"/></property>
      <property name="WCS"><ref bean="wcs"/></property>
      <property name="geoserver"><ref bean="geoServer"/> </property>
    </bean>
  </property>
</bean> 
<bean name="layerGroupListFinder" class="org.geoserver.restconfig.BeanResourceFinder">
  <property name="beanToFind">
    <bean class="org.geoserver.restconfig.LayerGroupListResource">
      <property name="WMSConfig"><ref bean="wmsConfig"/></property>
    </bean>
  </property>
</bean>
<bean id="dummyRestlet" class="org.geoserver.restconfig.DummyRestlet"/>

</beans>
