/*-----------------------
General styles
-----------------------*/
body {
background: #fff url(../img/globalbg.png) -60px 0 repeat-y;
}

/*-----------------------
Utility Classes
-----------------------*/
.selfclear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.selfclear {
display: inline-block; /* IE 7 */
}

.selfclear {
display: block;
}

* html .selfclear {
height: 1px; /* IE < 7 */
}

.leftwise {
float:left;
}

.rightwise {
float:right;
}

.nobreak {
white-space: nowrap;
}

.noshow {
display: none;
}

ul.plain {
margin-left: 0;
margin-right: 0;
list-style-type: none;
}

/*-----------------------
Feedback Message Styles
-----------------------*/
#feedback ul {
margin: 0;
}

#feedback li {
padding: 0.2em 0.5em;
margin: 0 auto 1em;
width: 80%;
border: 1px solid #ccccb8;
list-style-type: none;
}

.feedbackPanelINFO {
color: #000;
background: #c6ff8e;
}

.feedbackPanelINFO a {
color: #6a993d;
}

.feedbackPanelINFO a:hover {
color: #007a99;
}

.feedbackPanelWARNING {
color: #000;
background: #ffec8e;
}

.feedbackPanelWARNING a {
color: #cc872e;
}

.feedbackPanelWARNING a:hover {
color: #dd7c14;
}

.feedbackPanelERROR {
color: #fff;
background: #f24e50;
}

.feedbackPanelERROR a {
color: #801a1b;
}

.feedbackPanelERROR a:hover {
color: #660002;
}

/*-----------------------
Structural Elements
-----------------------*/
#container {
}

#header {
background: #142433;
border: 1px solid #6c9400;
border-width: 0 0 2px;
padding: 5px;
}

#sidebar, 
#page {
padding: 0 20px;
text-align: left; /* IE */
}

#sidebar {
float: left;
width: 200px;
} 

#page {
margin-left: 240px;
}

/*-----------------------
Tables
-----------------------*/
th {
background: transparent; /* override blueprint's settings */
}

thead th {
background: #f0f5ef;
border: 1px solid #000;
border-width: 0 0 1px;
}

tr:hover td,
tbody tr:hover th {
background: #fffef2;
}

tr.even td,
tr.even th {
background: #f7faf7; /* override blueprint's settings */
border: 1px solid #edf0ed;
border-width: 1px 0;
}

tr.even:hover td,
tr.even:hover th {
background: #f6f7e9;
}

th.actions,
td.actions {
width: 13em;
}

/*-----------------------
Forms
-----------------------*/
form ul,
ul.form-data {
margin: 0; /* override blueprint's settings for unordered lists */
list-style-type: none;
}

form li,
ul.form-data li {
display: block;
margin: 0 0 0.3em;
padding: 4px 5px 2px 0;
position: relative;
}

form ul ul {
margin: 0;
}

form li li {
padding: 0;
margin: 0.3em 0;
}

fieldset { /* override blueprint's settings */
padding: 0;
margin: 0 0 2em;
border: 1px solid #000;
border-width: 1px 0 0;
width: 35em;
position: relative;
}

legend {
border: 0 none transparent;
}

legend span { 
position: absolute;
width: 29.2em;
top: -1.5em;
left: 0;
}

label, span.fieldname {
border: medium none;
color: #222;
display: block;
font-size: 0.95em;
font-weight: bold;
line-height: 1.5em;
padding: 0 0 1px;
}

label.choice {
color: #222;
display: block;
font-weight: normal;
font-size: 100%;
line-height: 1.5em;
margin: -1.65em 0 0 25px;
padding: 0.44em 0 0.5em;
width: 90%;
}

textarea.medium {
height: 10em;
}

input.large, select.large, textarea.large {
width: 100%;
}

input.text, input.file {
padding: 2px 0;
}

input.text, textarea.textarea, .firefox select.select {
background: #fff url(../img/fieldbg.gif) repeat-x scroll center top;
border: 1px solid #7c7c7c;
border-color: #7c7c7c #c3c3c3 #ddd;
padding: 0.2em;
width: 25em;
}

textarea.textarea {
font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
height: 15em;
width: 33em;
}

input.text, input.file, textarea.textarea, select.select {
color: #333;
font-size: 1em;
margin: 0;
}

input.checkbox, input.radio {
display: block;
height: 13px;
line-height: 1.5em;
margin: 0.6em 0 0 3px;
width: 13px;
}

input.btTxt {
overflow: visible;
padding: 0 7px;
width: auto;
}

div.value,
div.value-wide {
border: 1px solid #7c7c7c;
border-color: #7c7c7c #c3c3c3 #ddd;
background: #f1f1f1;
padding: 0.2em;
width: 25em;
}

div.value-wide {
width: 100%;
}

div.value pre,
div.value-wide pre { /* override blueprint's settings */
margin: 0;
}

/*-----------------------
Button  Styles
-----------------------*/
.buttons {
}

.buttons a,
.buttons button {
float: left;
margin: 0 0.58em 0 0;
background-color: #f5f5f5;
border: 1px solid #dedede;
border-top: 1px solid #eee;
border-left: 1px solid #eee;
font-size: 1em;
text-decoration: none;
font-weight: bold;
color: #565656;
cursor: pointer;
padding: 0.5em 0.83em 0.6em 0.58em;
}

.buttons button {
width: auto;
overflow: visible;
padding: 0.5em 0.83em 0.6em 0.58em; /* IE6 */
}


.buttons button img,
.buttons a img {
margin: 0 3px -3px 0 !important;
padding: 0;
border: none;
width: 16px;
height: 16px;
float: left;
}

.buttons button:hover,
.buttons a:hover {
background-color: #dff4ff;
border: 1px solid #c2e1ef;
color: #369;
}

.buttons a:active {
background-color: #6299c5;
border: 1px solid #6299c5;
color: #fff;
}

button.positive,
.buttons a.positive {
color: #529214;
}

.buttons a.positive:hover,
button.positive:hover {
background-color: #e6efc2;
border: 1px solid #c6d880;
color: #529214;
}

.buttons a.positive:active {
background-color: #529214;
border: 1px solid #529214;
color: #fff;
}

.buttons a.negative,
 button.negative {
color: #d12f19;
}

.buttons a.negative:hover,
button.negative:hover {
background: #fbe3e4;
border: 1px solid #fbc2c4;
color: #d12f19;
}

.buttons a.negative:active {
background-color: #d12f19;
border: 1px solid #d12f19;
color: #fff;
}

.buttons input {
font-size: 1.2em;
margin-right: 5px;
}

/*-----------------------
Header
-----------------------*/

#header {
text-align: right;
color: #fff;
}

#header h2 {
margin: 0;
font-size: 1.76em;
min-height: 16px;
float: left;
}

#header h2 a {
color: #fff;
text-decoration: none;
}

#header h2 a:hover {
color: #fefdf1;
}

#header .buttons {
padding: 0.5em 0 0;
}

#header form {
}

span.username {
color: #fff;
}

#header label.shown {
display: inline;
color: #fff;
font-weight: normal;
}

#header input {
margin: 0 0.2em;
padding: 0.2em 0.3em;
font-size: 0.9em;
min-height: 16px;
}

#header .buttons a,
#header .buttons button {
margin: 0 0.2em;
padding: 0.2em 0.83em 0.2em 0.58em;
min-height: 16px;
font-size: 0.9em;
float: none;
}

/*-----------------------
Sidebar
-----------------------*/

ul#navigation {
margin: 20px 0 1.5em;
list-style-type: none;
}

ul#navigation a {
text-decoration: none;
}

ul#navigation a:hover {
text-decoration: underline;
}

.navigation-tab {
margin-bottom: 8px;
}

.navigation-tab-single,
.navigation-tab-header,
.navigation-tab-content {
padding: 5px;
border: 1px solid #d0d0d0;
}

.navigation-tab-single,
.navigation-tab-header {
font-weight: bold;
background: transparent url(../img/ext/panel/white-top-bottom.gif) 0 -1px repeat-x;
}

.navigation-tab-content {
border-top: none;
background: #f9f9f9;
}

.navigation-tab-single a,
.navigation-tab-header a,
.navigation-tab-content a {
display: block;
color: #333;
}

li.nav-administer-service {
clear: left;
}

li.nav-administer-service img {
float: left;
margin-right: 0.5em;
height: 16px;
width: 16px;
}

/*-----------------------
Targeted Styles
-----------------------*/
.module-info {
margin: 1em 0;
}

.module-header {
margin: 0 0 0.75em;
}

.module-header h2 {
margin: 0 20px 0 0;
float: left;
}

.status-bar {
margin: 1.2em 0 0;
float: left;
width: 200px;
height: 6px;
background-color: #e8e6e6;
border: 1px solid #555;
}

.status-bar span {
display: block;
background-image: url(../img/status-bar-bg.png);
background-repeat: no-repeat;
height: 6px;
overflow: hidden;
text-indent: -9999em;
}

.mini-bar {
height: 2px;
width: 50px;
background-color: #e8e6e6;
border: 1px solid #555;
}

.mini-bar span {
display: block;
background-image: url(../img/status-bar-bg.png);
background-repeat: no-repeat;
height: 2px;
overflow: hidden;
text-indent: -9999em;
}

.common-mime-types,
.uncommon-mime-types {
float: left;
margin: 0;
}

.common-mime-types dd,
.uncommon-mime-types dd {
margin: 0.5em 0;
border: 1px solid #edf0ed;
background: #fbfbfb;
}

.common-mime-types ul,
.uncommon-mime-types ul {
width: 10em;
float: left;
margin: 0;
}

.uncommon-mime-types ul {
margin: 0 -1px 0 0;
border: 1px solid #edf0ed;
border-width: 0 1px 0 0;
}

.uncommon-mime-types {
margin: 0 0 0 3em;
}

.common-mime-types li,
.uncommon-mime-types li {
display: inline;
}

.common-mime-types li a,
.uncommon-mime-types li a {
display: block;
padding: 0.2em 1em 0.2em 0.5em;
}

.common-mime-types li a:hover,
.uncommon-mime-types li a:hover {
background: #fff;
}


/* Page */

.page-header {
padding: 20px 0 0;
margin-bottom: 0.75em;
max-width: 70em;
}

.page-header h2 {
margin-bottom: 0;
}

.page-pane {
max-width: 70em;
}

.page-pane-content {
padding: 10px;
margin-bottom: 10px;
overflow: auto;
border: 1px solid #ccc;
}


/* Data page styles */
span.command {
margin-left: 2px;
font-style: italic;
}

span.unconfiguredLayer {
font-style: italic;
}


/* Tabs */
.tab-row {
border: 1px solid #bbb;
border-width: 0 0 1px;
height: 2.1em;
margin: 1.5em 0 2.5em;
}

.tab-row ul {
list-style-type: none;
margin: 0;
float: left;
}

.tab-row li {
float: left;
margin: 0 0.2em 0 0;
padding: 0;
}

.tab-row a {
display: block;
color: #222;
text-decoration: none;
font-weight: bold;
background: #ddd;
margin: 0 0 -1px;
padding: 0.25em 1em;
border-top: 1px solid #ccc;
border-right: 1px solid #aaa;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ccc;
}

.tab-row .selected a:link,
.tab-row .selected a:visited {
background: #fff;
border-bottom: 1px solid #fff;
}

.tab-row a:hover,
.tab-row a:active {
background: #eee;
}

.tab-row .selected a:hover,
.tab-row .selected a:active {
background: #fefefb;
}

/* redundant to .selfclear, but with the default wicket tab functionality we don't have the markup control we'd need to avoid this */
.tab-row ul:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.tab-row ul {
display: inline-block; /* IE 7 */
}

.tab-row ul {
display: block;
}

* html .tab-row ul {
height: 1px; /* IE < 7 */
}